<tr>
	<td style="background-color: #2886A5; padding: 8px 0 8px 20px">
		<span style="color: #fff; font-size: 16px; font-weight: bold;">Friendship Accepted</span>
	</td>
</tr>
<tr>
	<td style="background-color: #ffffff; padding: 25px; color: #7B7F7F;">
		<p>Hello <%= @recipient.first_name %>,</p>
		<p>We thought you'd like to know that <strong><%= @current_user.first_name %> <%= @current_user.last_name %></strong> has accepted your friendship request on CoPrayers.com.</p>
		<p>You can now share prayer requests and praise reports.</p>
		<a href="http://coprayers.com" style="background-color: #efa039; color: #fff; -moz-user-select: none; background-image: none; border: 1px solid transparent; border-radius: 4px; cursor: pointer; display: inline-block; font-size: 16px; font-weight: normal; line-height: 1.42857; margin-bottom: 20px; padding: 8px 24px; text-align: center; vertical-align: middle; text-decoration: none; white-space: nowrap;">Visit Site</a>
	</td>
</tr>
