<tr>
	<td style="background-color: #2886A5; padding: 8px 0 8px 20px">
		<span style="color: #fff; font-size: 16px; font-weight: bold;">Invitation To Join</span>
	</td>
</tr>
<tr>
	<td style="background-color: #ffffff; padding: 25px; color: #7B7F7F;">
		<strong>Hello<% if @invite.first_name.present?%> <%= @invite.first_name %><% end %>,</strong>
		<p><%= @current_user.first_name + " " + @current_user.last_name %> is a member at CoPrayers.com and they asked us to send you an invitation to join them on the site.</p>
		<p>CoPrayers is connecting Christians for the purpose of Prayer and Praise. You can make friends, like <%= @current_user.first_name %> for example, and pray for each other's needs. You can also join groups of users, like your church or home group, and post your prayer requests in a private environment.</p>
		<p>There is a great video on our home page at <a href="https://coprayers.com" style="color: #2886A5; text-decoration: underline;">CoPrayers.com</a> that explains more.</p>
		<p>Thanks for your time.</p>
		<p>~ The CoPrayers Team</p>
	</td>
</tr>
