<tr>
	<td style="background-color: #2886A5; padding: 8px 0 8px 20px">
		<span style="color: #fff; font-size: 16px; font-weight: bold;">Contact Form Message</span>
	</td>
</tr>
<tr>
	<td style="background-color: #ffffff; padding: 25px; color: #7B7F7F;">
		<p>Name: <%= @message.name %><br />
		Email: <%= @message.email %><br />
		Reason:<%= @message.reason %><br />
		Content: <%= @message.content %></p>
	</td>
</tr>

