<tr>
	<td style="background-color: #2886A5; padding: 8px 0 8px 20px">
		<span style="color: #fff; font-size: 16px; font-weight: bold;">Group Invitation</span>
	</td>
</tr>
<tr>
	<td style="background-color: #ffffff; padding: 25px; color: #7B7F7F;">
		<strong>Hello <%= @invite.first_name %>,</strong>
		<p><%= @current_user.first_name + " " + @current_user.last_name %> has invited you to join the CoPrayers group <strong>"<%= @group.name %>"</strong>.<br /></p>
		<p><a href="https://coprayers.com/groups/<%= @group.id %>" style="color: #2886A5; text-decoration: underline;">Visit Group's Page</a></p>
		<p>Not a member of CoPrayers yet? You can <a href="https://coprayers.com"  style="color: #2886A5; text-decoration: underline;">learn more here</a>.</p>
	</td>
</tr>
