<tr>
	<td style="background-color: #2886A5; padding: 8px 0 8px 20px">
		<span style="color: #fff; font-size: 16px; font-weight: bold;">New Private Message</span>
	</td>
</tr>
<tr>
	<td style="background-color: #ffffff; padding: 25px; color: #7B7F7F;">
		<strong>Hello <%= @receiver.first_name %>,</strong>
		<p><%= @current_user.first_name + " " + @current_user.last_name %> has just sent you the following private message.<br /></p>
		<p><%= @message.body %></p>
		<p>&nbsp;</p>
		<p><small>If you don't want to receive emails when you get a private message you can turn them off on your profile page.</small></p>
	</td>
</tr>
