<tr>
	<td style="background-color: #2886A5; padding: 8px 0 8px 20px">
		<span style="color: #fff; font-size: 16px; font-weight: bold;">Group Prayer Request</span>
	</td>
</tr>
<tr>
	<td style="background-color: #ffffff; padding: 25px; color: #7B7F7F;">
		<p>Hello <%= @user.first_name %>,</p>
		<p>You requested to get an email when a group member posts to the <strong><%= @group_post.group.name %></strong> group. <strong><%= @group_post.user.first_name %> <%= @group_post.user.last_name %></strong> just posted this <strong><% if @group_post.post_type == 'prayer' %>Prayer Request<% else %>Praise Report<% end %></strong>.</p>
		<p><%= @group_post.content %></p>
		<p>If you no longer wish to recieve these emails you can unsubscribe on this groups page.</p>
	</td>
</tr>
