<tr>
	<td style="background-color: #2886A5; padding: 8px 0 8px 20px">
		<span style="color: #fff; font-size: 16px; font-weight: bold;">
			<% if @post.post_type == 'prayer' %>Prayer Request<% else %>Praise Report<% end %> from <%= @post.user.first_name %> <%= @post.user.last_name %>
		</span>
	</td>
</tr>
<tr>
	<td style="background-color: #ffffff; padding: 25px; color: #7B7F7F;">
		<p>Hello <%= @u.first_name %>,</p>
		<p>You asked to be notified when <strong><%= @post.user.first_name %> <%= @post.user.last_name %></strong> posted a Prayer Request or Praise Report.</p>
		<p>Below is a 
		<% if @post.post_type == 'prayer' %>
			Prayer Request
		<% else %>
			Praise Report
		<% end %> that <%= @post.user.first_name %> just posted.</p>						
		<p><%= @post.content %></p>
		<p>Please Sign In if you want to mark this as prayed for.</p>
		<a href="http://coprayers.com/sign-in" style="background-color: #efa039; color: #fff; -moz-user-select: none; background-image: none; border: 1px solid transparent; border-radius: 4px; cursor: pointer; display: inline-block; font-size: 16px; font-weight: normal; line-height: 1.42857; margin-bottom: 20px; padding: 8px 24px; text-align: center; vertical-align: middle; text-decoration: none; white-space: nowrap;">Sign In</a>
	</td>
</tr>
