<div class="row wrapper page-heading m-b-lg">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2>Private Messages</h2>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-3">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>Current Conversations</h5>
        </div>
        <div class="ibox-content no-side-borders">
          <% @conversations.each do |conversation| %>
          <div class="conversation-member">
           <% if conversation.sender_id == current_user.id || conversation.recipient_id == current_user.id %>
              <% if conversation.sender_id == current_user.id %>
                <% recipient = User.find(conversation.recipient_id) %>
              <% else %>
                <% recipient = User.find(conversation.sender_id) %>
              <% end %>
              <% if recipient.avatar.navigation.present? %>
                <%= image_tag(recipient.avatar_url(:navigation), class: "img-rounded m-r-xs") %>
              <% else %>
                <div class="default-navigation-icon m-r-xs <%= color_length(recipient.first_name.length) %> "><%= recipient.first_name.chars.first + recipient.last_name.chars.first %></div>
              <% end %>
              <span class="<%= 'current-conversation' if (params['conversation_id'].to_i == conversation.id) %>">
                <%= link_to recipient.first_name + " " + recipient.last_name, conversation_messages_path(conversation)%>
              </span>
              <% if conversation.unread_message_nr_for(current_user.id) > 0 %>
                <span class="badge-inline">
                  <%= conversation.unread_message_nr_for(current_user.id) %>
                </span> 
              <% end %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
    <%= render 'partials/ads' %>
  </div>
  <div class="col-md-9">
    <div class="ibox float-e-margins">
      <div class="ibox-content no-side-borders">

        <h4>Send a Message to <%= @other_member.first_name + " " + @other_member.last_name %></h4>

        <%= form_for [@conversation, @message], html: {class: "ui reply form"} do |f| %>
        <div class="form-group">
         <%= f.text_area :body, class: "form-control post-content" %>
       </div>
       <%= f.text_field :user_id, value: current_user.id, type: "hidden" %>
       <div>
         <%= f.submit "Send Message", class: "btn btn-primary" %>
         <% end %>
         <%= link_to conversation_path(@conversation), method: :delete, data: { confirm: 'Are you sure you want to delete this entire conversation?', :'confirm-button-text' => 'Delete', :'cancel-button-text' => 'Cancel', :'confirm-button-color' => '#EFA039'} do %>
         <div class="btn btn-white btn-sm pull-right"><i class="fa fa-trash-o fa-fw"></i> Delete <span class="hidden-xs">Conversation</span></div>
       </div>
     </div>
   </div>
   <% end %>
   <div class="ibox float-e-margins">
    <div class="ibox-content no-side-borders">
     <h4 class="m-b-md">Previous Messages between You and <%= @other_member.first_name + " " + @other_member.last_name%></h4>

       <% @messages.each do |message| %>
       <% if message.body %>
       <% user = User.find(message.user_id) %>

       <% if user == current_user %>
          <%# Current User Wrote This Message %>
          <div class="row">
          <div class="col-md-12 m-b-sm">
          <div class="pull-right hidden-xs">
          <% if user.avatar.friendship.present? %>
           <%= image_tag(user.avatar_url(:friendship), class: "img-rounded grey-border") %>
           <% else %>
           <div class="default-friendship-icon <%= color_length(user.first_name.length) %>"><%= user.first_name.chars.first + user.last_name.chars.first %></div>
           <% end %>
         </div>
          <div class="my-bubble pull-right">
          <strong><%= user.first_name %></strong><small class="text-muted"> / About <%= time_ago_in_words(message.created_at) %> ago</small><br />
           <%= message.body %>
           </div>
         
         
         </div>
         </div>
        
       <% else %>
          <%# Other User Wrote This Message %>
          <div class="row">
          <div class="col-sm-12 m-b-sm">
          <div class="pull-left hidden-xs">
          <% if user.avatar.friendship.present? %>
           <%= image_tag(user.avatar_url(:friendship), class: "img-rounded grey-border pull-right") %>
           <% else %>
           <div class="default-friendship-icon <%= color_length(user.first_name.length) %> pull-right"><%= user.first_name.chars.first + user.last_name.chars.first %></div>
           <% end %>
          </div>
          <div class="their-bubble pull-left">
          <strong><%= user.first_name %></strong><small class="text-muted"> / About <%= time_ago_in_words(message.created_at) %> ago</small><br />
           <%= message.body %>
         </div>
          
         </div>
         </div>
         
       <% end %>
         <% end %>
         <% end %>
    
       <%= paginate @messages %>
     </div>
   </div>
 </div>
</div>
</div>
