<div class="row wrapper border-bottom page-heading m-b-lg">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2>Resend Confirmation Instructions</h2>
      </div>
    </div>
  </div>
</div>
<div class="container">
      <div class="row">
        <div class="col-md-6 col-md-push-3">
   
            <div class="devise-form">
              <div class="form-heading">
                <h3 class="header p-b-none p-t-none">Resend Confirmation Instructions</h3>
                <hr>
              </div>
              <div class="form-body">
								<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
								  <%= devise_error_messages! %>
								  <div class="field">
								    <%= f.email_field :email, autofocus: true, value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) , placeholder: "Email Address", class: "input-block-level" %> 
								  </div>
								</div>
								  <div class="form-footer p-t-none">
								    <%= f.button "Resend Confirmation Instructions", class: "btn btn-primary btn-block", data: {disable_with: "<i class='fa fa-fw fa-spinner fa-spin'></i> Resending Instructions"} %>
								  </div>
								<% end %>
</div>
<%= render "devise/shared/links" %>
</div>
</div>
</div>
