<div id="js-add-post-form" class="ibox float-e-margins">
  <div class="ibox-content form-panel">
		<%= form_for(@group_post) do |f| %>
			<%= render 'partials/error_messages', object: f.object %>
			<div class="form-group">
				<%= f.text_area :content, placeholder: "Compose new group post...", :rows => "4", class: "form-control" %>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<%= f.select :post_type, [['Prayer Request', 'prayer'],['Praise Report', 'praise']], {}, {class: "form-control"}  %>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<a id="js-cancel-post-button" class="btn btn-white m-l-sm pull-right">Cancel</a>
						<%= f.button "Submit Group Post", class: "btn btn-primary pull-right", data: {disable_with: "<i class='fa fa-fw fa-spinner fa-spin'></i> Posting"} %>
					</div>
				</div>
			</div>
		<% end %>
	</div>
</div>
