<div id="group-post-<%= group_post.id %>" class="social-feed-box">
	<% if group_post.user == current_user %>
		<%# Poster Is Current User %>
		<div class="pull-right dropdown">
			<button class="dropdown-toggle btn-white" data-toggle="dropdown" aria-expanded="false">
				<i class="fa fa-angle-down"></i>
			</button>
			<ul class="dropdown-menu m-t-xs">
				<li>
					<%= link_to edit_group_post_path(group_post) do %>
						<i class="fa fa-pencil-square-o fa-fw"></i> Edit Post
					<% end %>
				</li>
				<li>
					<%= link_to group_post_path(group_post), method: :delete, data: { confirm: "Are you sure you want to delete this post?" } do %>
						<i class="fa fa-trash-o fa-fw"></i> Delete Post
					<% end %>
				</li>
			</ul>
		</div>
	<% else %>
		<%# Poster Is NOT Current User %>
		<% if current_user.voted_for? group_post %>
			<div class="pull-right">
				<span class="btn-prayed-for btn-circle" data-toggle="tooltip" data-placement="left" title="You've already prayed for this">
					<i class="fa fa-heart fa-fw"></i>
				</span>
			</div>
	  <% else %>
			<div class="pull-right btn-prayed-for-<%= group_post.id %>">
				<%= link_to prayed_group_post_path(group_post), :remote => true, method: :put, class: 'js-not-prayed-btn btn-pray-for btn-circle' do %>
						<i class="fa fa-heart fa-fw"></i>
				<% end %>
			</div>
		<% end %>
	<% end %>

	<% if (current_user.admin_this_group?(@group) || current_user.moderate_this_group?(@group)) && current_user != group_post.user %>
		<div class="pull-right dropdown m-r-sm">
			<button class="dropdown-toggle btn-white" data-toggle="dropdown" aria-expanded="false">
				Admin <i class="fa fa-angle-down"></i>
			</button>
			<ul class="dropdown-menu m-t-xs">
				<li>
					<%= link_to group_post_path(group_post), method: :delete, data: { confirm: "Are you sure you want to delete this post?" } do  %>
						<i class="fa fa-trash-o fa-fw"></i> Delete Post
					<% end %>
				</li>
				<li>
					<%= link_to ban_member_path(@group, group_post.user.id), method: :delete, data: { confirm: 'Are you sure you want to delete this group member?', :'confirm-button-text' => 'Delete', :'cancel-button-text' => 'Cancel', :'confirm-button-color' => '#EFA039'} do  %>
						<i class="fa fa-ban fa-fw"></i> Remove User
					<% end %>
				</li>
			</ul>
		</div>
	<% end %>

		<div class="pull-left">
			<% if group_post.user.avatar.present? %>
				<%= image_tag(group_post.user.avatar_url(:friendship), class: "img-rounded grey-border") %>
			<% else %>
				<div class="default-friendship-icon <%= color_length(group_post.user.first_name.length) %>"><%= group_post.user.first_name.chars.first.titlecase + group_post.user.last_name.chars.first.titlecase %></div>
			<% end %>
		</div>
		<div class="social-body">
			<%= link_to user_path(group_post.user.username) do %>
				<strong><%= group_post.user.first_name.titlecase + " " + group_post.user.last_name.titlecase %></strong>
			<% end %>
			<br />
			<small class="text-muted">
				<% if group_post.post_type == 'prayer' %>
					<span class="prayer-label">Prayer Request</span>
				<% else %>
					<span class="praise-label">Praise Report</span>
				<% end %>
				<span class="dash">/</span> <%= time_ago_in_words(group_post.created_at) %> ago <span class="dash">/</span> Prayed for <span class="prayer-count-for-<%= group_post.id %>"><%= pluralize(group_post.get_upvotes.size, 'time') %></span></small>
    <p class="m-t-xs"><%= group_post.content %></p>
    </div>
	
</div>
