<div class="row wrapper page-heading m-b-lg">
	<div class="container">
		<div class="col-lg-12">
			<h2>Edit Post</h2>
		</div>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-md-3">
		</div>
		<div class="col-md-9">
			<%= render 'edit_form' %>
		</div>
</div>
