<div class="row wrapper border-bottom page-heading m-b-lg">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2>Edit Your Profile</h2>
      </div>
    </div>
  </div>
</div>
<div class="container">
<div class="row">
  <div class="col-md-3">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <h5>Current Profile Photo</h5>
      </div>
      <div class="ibox-content user-panel">
        <div class="pull-left">
          <% if current_user.avatar.profile.present? %>
            <%= image_tag(current_user.avatar_url(:profile).to_s, class: "img-rounded grey-border") %>
          <% else %>
            <div class="default-profile-icon <%= color_length(current_user.first_name.length) %> grey-border"><%= current_user.first_name.chars.first + current_user.last_name.chars.first %></div>
          <% end %>

        </div>
        <div class="edit-image-btn">
          <div class="image-action m-l-lg">
            <%= link_to "Change Photo", users_upload_path, class: "btn btn-sm btn-primary" %>
            <% if current_user.avatar.profile.present? %>
              <%= link_to "Remove Photo", users_remove_path, class: "btn btn-white btn-xs m-t-sm" %>
            <% end %>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
    
  </div>
  <div class="col-md-9">
    <%= devise_error_messages! %>
    <div class="ibox float-e-margins">
      <div class="ibox-content user-panel">
      <p class="mb10">The more information you fill in the easier it will be for your friends and family to find you on the site. All information, except your password and email address, is viewable by other members.</p>
      <hr class="mb10 mt10">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      
      <h4 class="m-t-md m-b-sm blue-text">Username and Email</h4>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <%= f.label :username %>
            <%= f.text_field :username, class: "form-control" %>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <%= f.label :email %>
            <%= f.email_field :email, class: "form-control" %>
          </div>
        </div>
      </div>
      <hr>
      <h4 class="m-t-md m-b-sm blue-text">Your Name</h4>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <%= f.label :first_name %>
            <%= f.text_field :first_name, class: "form-control" %>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <%= f.label :last_name %>
            <%= f.text_field :last_name, class: "form-control" %>
          </div>
        </div>
      </div>
      <hr>
      <h4 class="m-t-md m-b-sm blue-text">Your Location</h4>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <%= f.label :city %> <span class="text-muted">(Optional)</span>
            <%= f.text_field :city, class: "form-control" %>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <%= f.label :state, 'State or Province' %> <span class="text-muted">(Optional)</span>
            <%= f.text_field :state, class: "form-control" %>
          </div>
        </div>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>
      <hr>
      <h4 class="m-t-md m-b-sm blue-text">A Little About You</h4>
      <div class="form-group">
        <%= f.label :bio, 'Short Bio' %> <span class="text-muted">(Optional)</span>
        <%= f.text_area :bio, class: "form-control", placeholder: "Tell us a bit about yourself, in a scentence or two." %>
      </div>
      <hr>
      <h4 class="m-t-md m-b-sm blue-text">Friend Request Email Preferences</h4>
      <div class="row">
        <div class="col-md-9 m-b-xs">
          Email me when I receive a Friend Request from another member.
        </div>
        <div class="col-md-3 pull-right">
          <%= radio_button("user", "email_notify_friend_received", true) %> Yes &nbsp; &nbsp;
          <%= radio_button("user", "email_notify_friend_received", false) %> No
        </div>
      </div>
      <div class="row">
        <div class="col-md-9">
        Email me when a Friend Request I sent gets accepted by another member.
        </div>
        <div class="col-md-3 pull-right">
          <%= radio_button("user", "email_notify_friend_approved", true) %> Yes &nbsp; &nbsp; <%= radio_button("user", "email_notify_friend_approved", false) %> No</div>
        </div>
      <hr>
      <h4 class="m-t-md m-b-sm blue-text">Private Message Preferences</h4>
      <div class="row">
        <div class="col-md-9 m-b-xs">
        Allow other members to private message me.<br />
        <small><i>Setting this to No will prevent you from sending messages too.</i></small>
        </div>
         <div class="col-md-3 pull-right">
          <%= radio_button("user", "private_message_system_on", true) %> Yes &nbsp; &nbsp;
          <%= radio_button("user", "private_message_system_on", false) %> No
        </div>
      </div>
      <div class="row">
        <div class="col-md-9 m-b-xs">
        Email me when I get a private message.
        </div>
         <div class="col-md-3 pull-right">
         <%= radio_button("user", "email_notify_private_message", true) %> Yes &nbsp; &nbsp;
          <%= radio_button("user", "email_notify_private_message", false) %> No
          </div>
        </div>
      <hr>
      <h4 class="m-t-md m-b-sm blue-text">Change Password (Optional)</h4>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <%= f.label :password %> <i>(leave blank if you don't want to change it)</i>
            <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "Password (8 character min.)" %>
            </div>
            <div id="bar m-t-none">
              <span id="s0" class="cell"></span>
              <span id="s1" class="cell"></span>
              <span id="s2" class="cell"></span>
              <span id="s3" class="cell"></span>
              <span id="s4" class="cell"></span>
              <span id="strength-text"></span>
            </div>
          
        </div>
      </div>
      <hr>
      <h4 class="m-t-md m-b-sm blue-text">Submit Changes</h4>
      <div class="form-group">
        <%= f.label :current_password %> <i>(Required to confirm your changes)</i>
        <div class="row">
          <div class="col-md-6">
            <%= f.password_field :current_password, autocomplete: "off", class: "form-control" %>
          </div>
        </div>
      </div>

      <div class="form-group">
        <%= f.submit "Update My Profile", class: "btn btn-primary mt10" %>
      </div>
    <% end %>
  </div>
</div>

<div class="panel panel-white">
  <div class="panel-body">
    <h4 class="m-b-md blue-text">Cancel my account</h4>
    <p>Unhappy? If there is anything we can do please <%= link_to "contact us", contact_path %>.</p>
    <% if current_user.subscribed %>
      <p>You are a paying member please <%= link_to "cancel your subscription", support_path %> then come back here to delete your account.<p>
    <% else %>
      <%= link_to registration_path(resource_name), data: { confirm: 'Are you sure? This cannot be undone and it will remove all of your posts, friendships and group memberships.', :'confirm-button-text' => 'Delete My Account', :'cancel-button-text' => 'Cancel', :'confirm-button-color' => '#EFA039'}, method: :delete, class: 'm-t-sm btn btn-danger' do %>
      <i class="fa fa-trash-o fa-fw"></i> Delete My Account
      <% end %>
    <% end %>
  </div>
</div>
</div>
</div>
</div>

<script type="text/javascript">
  $('#user_password').hideShowPassword(false, true);
  $('#user_current_password').hideShowPassword(false, true);
</script>


<script type="text/javascript" language="javascript">
var pw_field = document.querySelector('#user_password')

function switchOffAllCells() {
  switchOffCell(0);
  switchOffCell(1);
  switchOffCell(2);
  switchOffCell(3);
  switchOffCell(4);
}

function indicateStrength(str) {
  text = document.getElementById("strength-text");
  text.innerHTML = str;
}

function switchOffCell(number) {
  var cell = document.getElementById('s' + number);
  cell.className = 'cell';
}

function switchOnCell(number) {
  var cell = document.getElementById('s' + number);
  cell.className = 'cell on';
}

pw_field.onkeyup = function() {
  var result = zxcvbn(pw_field.value);
  var score = result.score;

  switchOffAllCells();

  switch(score)
  {
    case 0:
      switchOnCell(0);
      indicateStrength("Very weak");
      break;
    case 1:
      switchOnCell(0);
      switchOnCell(1);
      indicateStrength("Weak");
      break;
    case 2:
      switchOnCell(0);
      switchOnCell(1);
      switchOnCell(2);
      indicateStrength("Adequate");
      break;
    case 3:
      switchOnCell(0);
      switchOnCell(1);
      switchOnCell(2);
      switchOnCell(3);
      indicateStrength("Pretty good");
      break;
    case 4: 
      switchOnCell(0);
      switchOnCell(1);
      switchOnCell(2);
      switchOnCell(3);
      switchOnCell(4);
      indicateStrength("Excellent");
      break;
    default:
      switchOnCell(0);
  }
}



</script>
