<div class="row wrapper border-bottom page-heading m-b-lg">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2>Sign Up</h2>
      </div>
    </div>
  </div>
</div>
<div class="container">
      <div class="row">
        <div class="col-md-5 col-md-push-3">
   
            <div class="devise-form">
              <div class="form-heading">
                <h3 class="header p-b-none p-t-none">Sign Up</h3>
                <hr>
              </div>
              <div class="form-body">
                <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), html: {class: "form"}) do |f| %>
                <%= devise_error_messages! %>
                  <div class="row">
                    <div class="col-sm-6">
                      <%= f.text_field :first_name, class: "input-block-level", placeholder: "First Name" %>
                    </div>
                    <div class="col-sm-6">
                      <%= f.text_field :last_name, class: "input-block-level", placeholder: "Last Name" %>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-12">
                      <%= f.text_field :username, class: "input-block-level", placeholder: "Username" %>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-12">
                      <%= f.email_field :email, class: "input-block-level", placeholder: "Email Address" %>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-12">
                      <%= f.password_field :password, class: "input-block-level estimate-password password_in_form", placeholder: "Password (8 character min.)" %>
                      <div id="bar">
                        <span id="s0" class="cell"></span>
                        <span id="s1" class="cell"></span>
                        <span id="s2" class="cell"></span>
                        <span id="s3" class="cell"></span>
                        <span id="s4" class="cell"></span>
                        <span id="strength-text"></span>
                      </div>
                    </div>
                  </div>
                    <p class="highlight">
              By clicking Sign Up I agree to the <%= link_to 'Terms of Service', terms_path %> and <%= link_to 'Privacy Policy', privacy_path %>
              .
            </p>
              </div>
              <div class="form-footer">
                <%= f.button "Sign Up", :type => "submit", :class => "btn btn-primary btn-block btn-lg", data: {disable_with: "<i class='fa fa-fw fa-spinner fa-spin'></i> Signing Up..."} %>
                 <% end %>
                <p class="m-t-md">Already have an account? <%= link_to "Sign In", new_session_path(resource_name) %></p>
              </div>
            </div>
            <%= render "devise/shared/links" %>
          </div>
        </div>
        
      </div>
<script type="text/javascript">
  $('#user_password').hideShowPassword(false, true);
</script>


<script type="text/javascript" language="javascript">
var pw_field = document.querySelector('.password_in_form')

function switchOffAllCells() {
  switchOffCell(0);
  switchOffCell(1);
  switchOffCell(2);
  switchOffCell(3);
  switchOffCell(4);
}

function indicateStrength(str) {
  text = document.getElementById("strength-text");
  text.innerHTML = str;
}

function switchOffCell(number) {
  var cell = document.getElementById('s' + number);
  cell.className = 'cell';
}

function switchOnCell(number) {
  var cell = document.getElementById('s' + number);
  cell.className = 'cell on';
}

pw_field.onkeyup = function() {
  var result = zxcvbn(pw_field.value);
  var score = result.score;

  switchOffAllCells();

  switch(score)
  {
    case 0:
      switchOnCell(0);
      indicateStrength("Very weak");
      break;
    case 1:
      switchOnCell(0);
      switchOnCell(1);
      indicateStrength("Weak");
      break;
    case 2:
      switchOnCell(0);
      switchOnCell(1);
      switchOnCell(2);
      indicateStrength("Adequate");
      break;
    case 3:
      switchOnCell(0);
      switchOnCell(1);
      switchOnCell(2);
      switchOnCell(3);
      indicateStrength("Pretty good");
      break;
    case 4: 
      switchOnCell(0);
      switchOnCell(1);
      switchOnCell(2);
      switchOnCell(3);
      switchOnCell(4);
      indicateStrength("Excellent");
      break;
    default:
      switchOnCell(0);
  }
}



</script>
