<div class="row wrapper page-heading m-b-lg">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2>Private Messages</h2>
      </div>
    </div>
  </div>
</div>
<div class="container">
<div class="row">
  <div class="col-md-3">
          <div class="ibox float-e-margins">
          <div class="ibox-title">
              <h5>Current Conversations</h5>
          </div>
          <div class="ibox-content no-side-borders">
              <% @conversations.each do |conversation| %>
              <div class="conversation-member">
               <% if conversation.sender_id == current_user.id || conversation.recipient_id == current_user.id %>
               <% if conversation.sender_id == current_user.id %>
                <% recipient = User.find(conversation.recipient_id) %>
               <% else %>
                <% recipient = User.find(conversation.sender_id) %>
               <% end %>

                    <span class="<%= 'current-conversation' if (params['conversation_id'].to_i == conversation.id) %>">
                    <% if recipient.avatar.navigation.present? %>
                    <%= image_tag(recipient.avatar_url(:navigation), class: "img-rounded m-r-xs") %>
                  <% else %>
                    <span class="default-navigation-icon <%= color_length(recipient.first_name.length) %> m-r-xs"><%= recipient.first_name.chars.first.titlecase + recipient.last_name.chars.first.titlecase %></span>
                  <% end %>
                      <%= link_to recipient.first_name.titlecase + " " + recipient.last_name.titlecase, conversation_messages_path(conversation)%>
                    </span>
                    <% if conversation.unread_message_nr_for(current_user.id) > 0 %>
                      <span class="badge-inline">
                        <%= conversation.unread_message_nr_for(current_user.id) %>
                      </span> 
                    <% end %>
               <% end %>
             </div>
             <% end %>
          </div>
        </div>
      <%= render 'partials/ads' %>
  </div>
    <div class="col-md-9">
      <div class="ibox float-e-margins">
        <div class="ibox-content no-side-borders">
           <% if @conversations.present? %>
            <h4>Select a conversation from <span class="hidden-xs hidden-sm">the left</span> <span class="hidden-md hidden-lg">above</span> to read your messages.</h4>
           <% else %>
            <h4>You currently have no messages to read.</h4>
            <p>To start a conversation go to a friends post, or profile page, and click the Private Message button. If they have turned off private messaging in their Edit Profile page the button will not be there.</p>
           <% end %>
       </div>
     </div>
   </div>
 </div>
</div>
