
<div class="ibox float-e-margins m-t-md">
	<div class="ibox-title">
		<div class="col-md-6"><h4>Advertising</h4></div>
		<div class="col-md-6">
		<%= link_to new_admin_ad_path, class: 'btn btn-primary btn-sm pull-right' do %>
			<i class="fa fa-plus fa-fw"></i> Add Ad
		<% end %>
		</div>
	</div>
	<div class="ibox-content">
		<table class="table">
			<thead>
				<tr>
					<th>Title</th>
					<th>Text</th>
					<th>Link Text</th>
					<th>Created</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
			<% @advertisements.each do |ad| %>
				<tr class="<%= cycle('even', 'odd') %>">
					<td><%= ad.title %></td>
					<td><%= truncate(ad.content, length: 40, omission: '...') %></td>
					<td><a href="<%= ad.link %>" target="_blank"><%= ad.link_text %></a></td>
					<td><%= time_ago_in_words(ad.created_at) %> ago</td>
					<td>
					<div class="btn-group pull-right">
						<%= link_to "Edit", root_path, class: "btn btn-xs btn-primary" %><%= link_to "Delete", root_path, class: "btn btn-xs btn-gold" %>
						</div>
					</td>
				</tr>
				<% end %>
			</tbody>
		</table>
	</div>
</div>
