
<div class="ibox float-e-margins m-t-md">
	<div class="ibox-title">
		<h4>Groups</h4>
	</div>
	<div class="ibox-content">
		<table class="table">
			<thead>
				<tr>
					<th></th>
					<th>Name</th>
					<th>Privacy</th>
					<th>Members</th>
					<th>Created</th>
				</tr>
			</thead>
			<tbody>
			<% @groups.each do |group| %>
				<tr class="<%= cycle('even', 'odd') %>">
					<td>
						<% if group.image.present? %>
			        <%= image_tag(group.image_url(:navigation), class: "img-rounded grey-border") %>
			        <% else %>
			        <div class="default-navigation-icon <%= color_length(group.name.length) %> "><i class="fa fa-users fa-fw"></i></div>
		        <% end %>
					</td>
					<td><%= link_to group_path(group) do %><%= group.name %><% end %><br /><span class="text-muted"><small><%= group.organization %><% if group.organization.present? && group.location.present? %> / <% end %> <%= group.location %></small></span></td>
					<td><%= group.privacy %></td>
					<td><%= group.group_members.count %></td>
					<td><%= time_ago_in_words(group.created_at) %> ago</td>
				</tr>
				<% end %>
			</tbody>
		</table>
	</div>
</div>
