
	<div class="ibox float-e-margins">
		<div class="ibox-content">
		<%= link_to "Statistics", admin_path, class: "m-r-sm" %>
		<span class="m-r-sm">/</span> 
		<%= link_to "Users", admin_users_path, class: "m-r-sm" %>
		<span class="m-r-sm">/</span> 
		<%= link_to "Groups", admin_groups_path, class: "m-r-sm" %>
		<span class="m-r-sm">/</span> 
		<%= link_to "Advertisements", advertisements_path %>
		</div>
	</div>
