
<div class="ibox float-e-margins m-t-md">
	<div class="ibox-title">
		<h4>Users</h4>
	</div>
	<div class="ibox-content">
		<table class="table">
			<thead>
				<tr>
					<th></th>
					<th>Name</th>
					<th>Username</th>
					<th>Location</th>
					<th>Friends</th>
					<th>Posts</th>
					<th>Supporter</th>
					<th>Last Signed In</th>
					<th>Status</th>
				</tr>
			</thead>
			<tbody>
			<% @users.each do |user| %>
				<tr class="<%= cycle('even', 'odd') %>">
					<td>
						<% if user.avatar.present? %>
			        <%= image_tag(user.avatar_url(:navigation), class: "img-rounded grey-border") %>
			        <% else %>
			        <div class="default-navigation-icon <%= color_length(user.first_name.length) %>"><%= user.first_name.chars.first + user.last_name.chars.first %></div>
		        <% end %>
					</td>
					<td><%= user.first_name + " " + user.last_name %></td>
					<td><%= link_to user.username, user_path(user.username) %></td>
					<td>
						<% if user.city.present? && user.state.present? %>
							<%= user.city %>, <%= user.state %>
						<% else %>
							<%= user.city %> <%= user.state %>
						<% end %>
					</td>
					<td>
						<%= user.active_friends.count %>
					</td>
					<td>
						<%= user.posts.count + user.group_posts.count %>
					</td>
					<td>
						<%= user.subscription_plan %>
					</td>
					<td>
						<%  if user.current_sign_in_at %>
						<%= time_ago_in_words(user.current_sign_in_at) %> ago
						<% else %>
							Never
						<% end %>
						</td>
					<td>
						<%= user.status %>
					</td>
				</tr>
				<% end %>
			</tbody>
		</table>
	</div>
</div>
