<div class="row wrapper border-bottom page-heading m-b-lg">
  <div class="container">
  	<div class="row">
	    <div class="col-lg-12">
	      <h2>Group Administration</h2>
	    </div>
	   </div>
  </div>
</div>
<div class="container">
		<div class="row">
		<div class="col-md-12">

			<%= render 'menu' %>

		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<%= render 'groups_table' %>
			<%= paginate @groups %>
		</div>
	</div>
</div>
