<div class="row wrapper border-bottom page-heading m-b-lg">
  <div class="container">
  	<div class="row">
	    <div class="col-lg-12">
	      <h2>Site Statistics</h2>
	    </div>
	   </div>
  </div>
</div>
<div class="container">
	<div class="row">
		<div class="col-md-12">
			
			<%= render 'menu' %>

		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="row m-b-md">
					<div class="col-md-3">
						<div class="widget style2 white-bg grey-border">
							<i class="fa fa-user fa-4x pull-left blue-text"></i>
							<div class="text-right">
								<span> Total Members </span>
								<h2 class="font-bold teal"><%= number_with_delimiter(@user_count, :delimiter => ',') %></h2>
							</div>
						</div>
					</div>
					<div class="col-md-3">
						<div class="widget style2 white-bg grey-border">
							<i class="fa fa-users fa-4x pull-left blue-text"></i>
							<div class="text-right">
								<span> Total Groups</span>
								<h2 class="font-bold"><%= number_with_delimiter(@group_count, :delimiter => ',') %></h2>
							</div>
						</div>
					</div>
					<div class="col-md-3">
						<div class="widget style2 white-bg grey-border">
							<i class="fa fa-pencil fa-4x pull-left blue-text"></i>
							<div class="text-right">
								<span> Total Posts </span>
								<h2 class="font-bold"><%= number_with_delimiter(@post_count, :delimiter => ',') %></h2>
							</div>
						</div>
					</div>
					<div class="col-md-3">
						<div class="widget style2 white-bg grey-border">
							<i class="fa fa-heart fa-4x pull-left blue-text"></i>
							<div class="text-right">
								<span> Total Prayers </span>
								<h2 class="font-bold"><%= number_with_delimiter(@prayed_count, :delimiter => ',') %></h2>
							</div>
						</div>
					</div>
			</div>
			<div class="row m-b-md">
					<div class="col-md-3">
						<div class="widget style2 white-bg grey-border">
							<i class="fa fa-hourglass-o fa-4x pull-left blue-text"></i>
							<div class="text-right">
								<span> Monthly Individuals</span>
								<h2 class="font-bold teal"><%= number_with_delimiter(@monthly_individuals, :delimiter => ',') %></h2>
							</div>
						</div>
					</div>
					<div class="col-md-3">
						<div class="widget style2 white-bg grey-border">
							<i class="fa fa-calendar fa-4x pull-left blue-text"></i>
							<div class="text-right">
								<span> Annual Individuals</span>
								<h2 class="font-bold"><%= number_with_delimiter(@annual_individuals, :delimiter => ',') %></h2>
							</div>
						</div>
					</div>
					<div class="col-md-3">
						<div class="widget style2 white-bg grey-border">
							<i class="fa fa-hourglass-o fa-4x pull-left blue-text"></i>
							<div class="text-right">
								<span> Monthly Organizations </span>
								<h2 class="font-bold"><%= number_with_delimiter(@monthly_organizations, :delimiter => ',') %></h2>
							</div>
						</div>
					</div>
					<div class="col-md-3">
						<div class="widget style2 white-bg grey-border">
							<i class="fa fa-calendar fa-4x pull-left blue-text"></i>
							<div class="text-right">
								<span> Annual Organizations</span>
								<h2 class="font-bold"><%= number_with_delimiter(@annual_organizations, :delimiter => ',') %></h2>
							</div>
						</div>
					</div>
			</div>			
			<div class="row">
				<div class="col-md-4">
					<div class="ibox float-e-margins">
						<div class="ibox-title">
							<span class="blue-text"><strong>New Sign Ups</strong></span>
						</div>
						<div class="ibox-content">
							Past Hour<span class="pull-right"><%= number_with_delimiter(@new_hour, :delimiter => ',') %></span>
							<hr class="m-small">
							Past Day<span class="pull-right"><%= number_with_delimiter(@new_day, :delimiter => ',') %></span>
							<hr class="m-small">
							Past Month<span class="pull-right"><%= number_with_delimiter(@new_month, :delimiter => ',') %></span>
							<hr class="m-small">
							Past Year<span class="pull-right"><%= number_with_delimiter(@new_year, :delimiter => ',') %></span>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="ibox float-e-margins">
						<div class="ibox-title">
							<span class="blue-text"><strong>Active Users</strong></span>
						</div>
						<div class="ibox-content">
							Past Hour<span class="pull-right"><%= number_with_delimiter(@hour, :delimiter => ',') %></span>
							<hr class="m-small">
							Past Day<span class="pull-right"><%= number_with_delimiter(@day, :delimiter => ',') %></span>
							<hr class="m-small">
							Past Month<span class="pull-right"><%= number_with_delimiter(@month, :delimiter => ',') %></span>
							<hr class="m-small">
							Past Year<span class="pull-right"><%= number_with_delimiter(@year, :delimiter => ',') %></span>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="ibox float-e-margins">
						<div class="ibox-title">
							<span class="blue-text"><strong>New Groups</strong></span>
						</div>
						<div class="ibox-content">
							Past Hour<span class="pull-right"><%= number_with_delimiter(@new_groups_hour, :delimiter => ',') %></span>
							<hr class="m-small">
							Past Day<span class="pull-right"><%= number_with_delimiter(@new_groups_day, :delimiter => ',') %></span>
							<hr class="m-small">
							Past Month<span class="pull-right"><%= number_with_delimiter(@new_groups_month, :delimiter => ',') %></span>
							<hr class="m-small">
							Past Year<span class="pull-right"><%= number_with_delimiter(@new_groups_year, :delimiter => ',') %></span>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="ibox float-e-margins">
						<div class="ibox-title">
							<span class="blue-text"><strong>New Posts</strong></span>
						</div>
						<div class="ibox-content">
							Past Hour<span class="pull-right"><%= number_with_delimiter(@new_posts_hour, :delimiter => ',') %></span>
							<hr class="m-small">
							Past Day<span class="pull-right"><%= number_with_delimiter(@new_posts_day, :delimiter => ',') %></span>
							<hr class="m-small">
							Past Month<span class="pull-right"><%= number_with_delimiter(@new_posts_month, :delimiter => ',') %></span>
							<hr class="m-small">
							Past Year<span class="pull-right"><%= number_with_delimiter(@new_posts_year, :delimiter => ',') %></span>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="ibox float-e-margins">
						<div class="ibox-title">
							<span class="blue-text"><strong>Prayers</strong></span>
						</div>
						<div class="ibox-content">
							Past Hour<span class="pull-right"><%= number_with_delimiter(@prayed_hour, :delimiter => ',') %></span>
							<hr class="m-small">
							Past Day<span class="pull-right"><%= number_with_delimiter(@prayed_day, :delimiter => ',') %></span>
							<hr class="m-small">
							Past Month<span class="pull-right"><%= number_with_delimiter(@prayed_month, :delimiter => ',') %></span>
							<hr class="m-small">
							Past Year<span class="pull-right"><%= number_with_delimiter(@prayed_year, :delimiter => ',') %></span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
