<div class="row wrapper border-bottom page-heading m-b-lg">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2>Resend Unlock Instructions</h2>
      </div>
    </div>
  </div>
</div>
<div class="container">
      <div class="row">
        <div class="col-md-6 col-md-push-3">
   
            <div class="devise-form">
              <div class="form-heading">
                <h3 class="header p-b-none p-t-none">Resend Unlock Instructions</h3>
                <hr>
              </div>
              <div class="form-body">
<%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class="form-group">
    <%= f.email_field :email, autofocus: true, class: "input-block-level", placeholder: "Email Address" %>
  </div>
</div>
  <div class="form-footer">
    <%= f.button "Resend Unlock Instructions", class: "btn btn-primary btn-block", data: {disable_with: "<i class='fa fa-fw fa-spinner fa-spin'></i> Resending Instructions"} %>
  </div>
<% end %>
</div>
<%= render "devise/shared/links" %>
</div>
</div>
</div>
