<div class="user-row <%= cycle('even', 'odd') -%>">
    <div class="col-md-6">
      <div class="pull-left">
        <%= link_to user_path(member.username) do %>
          <% if user.avatar.present? %>
            <%= image_tag(user.avatar_url(:friendship), class: "img-rounded grey-border") %>
          <% else %>
            <div class="default-friendship-icon <%= color_length(user.first_name.length) %>"><%= user.first_name.chars.first.titlecase + user.last_name.chars.first.titlecase %></div>
          <% end %>
        <% end %>
      </div>
      <div class="search-body">
        <div class="name m-t-xs">
          <%= link_to user_path(user.username) do %>
            <% if user.first_name.present? %>
              <%= user.first_name %> <%= user.last_name %>
            <% else %>
              <%= user.username %>
            <% end %>
          <% end %>
        </div>
        <div class="location m-b-xs">
            <% if user.city.present? || user.state.present? || user.country.present? %>
            <% else %>
              No Location Given
            <% end %>
            <% if user.city.present? %>
              <%= user.city %><% end %><% if user.state.present? %>, <%= user.state %>
            <% end %>
        </div>
      </div>
    </div>
      <div class="col-md-6">
        <% if current_user %>
          <span class="pull-right m-t-sm action-button-for-<%= user.id %>">
          <% if current_user == user %>
            <p>This is you.</p>
          <% else %>
              <%= action_buttons(user) %>
            <% if current_user.friendship_status(user) == "friends" %>
            <span id="js-subscription-btns-for-<%= user.id %>">
              <% if current_user.subscription_status(user) == "subscribed" %>
                <%= link_to "Email On", subscription_path(current_user.get_subscription(user)), method: :delete, :remote => true, class: "js-subscribed-btn btn btn-gold btn-sm m-l-sm" %>
              <% else %>
                <%= link_to "Email Off", subscriptions_path(subscribe_to_id: user), method: :post, :remote => true, class: "js-not-subscribed-btn btn btn-white btn-sm m-l-sm" %>
              <% end %>
            </span>
            <% end %>
          </span>
        <% end %>
        <% end %>
      </div>
          <div class="clearfix"></div>
  </div>
  
