<div class="ibox float-e-margins">
  <div class="ibox-title">
    <h5>Admin Controls</h5>
  </div>
  <div class="ibox-content no-side-borders">
  		<small class="text-muted">Users email: <%= @user.email %></small><br />
      <small class="text-muted">Last Sign In: 
        <%  if @user.current_sign_in_at %>
          <%= time_ago_in_words(@user.current_sign_in_at) %> ago
        <% else %>
          Never
        <% end %>
      </small><br />
  		<% if @user.status == "active" %>
        <%= link_to "Lock User", lock_user_user_path(@user.username), class: "m-t-sm btn btn-block btn-primary" %>
  		<% elsif @user.status == "locked" %>
  			<%= link_to "Unlock User", unlock_user_user_path(@user.username), class: "m-t-sm btn btn-block btn-gold" %>
  		<% end %>
  </div>
</div>
