<% if current_user.subscribed == false %>
<% @advertisements.each do |ad| %>
	<div class="ibox float-e-margins m-t-lg hidden-sm hidden-xs">
    <div class="ibox-content user-panel">
	  <a href="<%= ad.link %>" target="_blank"><strong><%= ad.title %></strong></a><br />
	  <%= ad.content %><br />
	  <a href="<%= ad.link %>" target="_blank"><%= ad.link_text %></a>
		</div>
	</div>
<% end %>
<div class="ibox float-e-margins m-t-lg hidden-sm hidden-xs">
	<div class="ibox-content user-panel">
		<%= link_to "Remove these ads!", support_path, class: '' %>
	</div>
</div>
<% end %>
