
<% if flash[:notice] %>

	<script type="text/javascript">
	$(document).ready(function() {
  	setTimeout(function() {
    	toastr.options = {
      	closeButton: true,
        progressBar: true,
        showMethod: 'slideDown',
        preventDuplicates: true,
        timeOut: 3000
      };
      toastr.success('<%= flash[:notice] %>');
      }, 200);
    });
	</script>
	   
<% elsif flash[:alert] %>

	<script type="text/javascript">
	$(document).ready(function() {
  	setTimeout(function() {
    	toastr.options = {
      	closeButton: true,
        progressBar: true,
        showMethod: 'slideDown',
        preventDuplicates: true,
        timeOut: 3000
      };
      toastr.warning('<%= flash[:alert] %>');
      }, 300);
    });
	</script>
<% end %>
