<% if @user.subscribed == true %>
	<!-- Start Site Supporter Box -->
	<div class="ibox float-e-margins m-t-lg">
		<div class="ibox-content no-side-borders" style="padding: 12px;">
			<i class="site-support-icon fa fa-thumbs-up"></i><%= @user.first_name %> <%= link_to "supports this community", support_path %>.
		</div>
	</div>
	<!-- End Site Supporter Box -->
<% end %>
