<!-- Start Friend Box -->
  <% if @user.active_friends.size > 0 %>
    <div class="ibox float-e-margins m-t-lg hidden-xs">
      <div class="ibox-title">
        <h5>
        <% if current_user == @user %>My <% end %>
        Friends <span class="text-muted grey-text">(<%= @user.active_friends.size %>)</span></h5>
        <span class="pull-right">
          <% if current_user == @user %>
            <% if @user.active_friends.size > 8 %>
              <%= link_to "View All", users_path(people: "friends"), class: "btn btn-xs btn-white" %>
            <% else %>
              <%= link_to "View", users_path(people: "friends"), class: "btn btn-xs btn-white" %>
            <% end %>
          <% else %>
            <%= link_to "View All", friends_path(@user.username) %>
          <% end %>
        </span>
      </div>
      <div class="ibox-content no-side-borders" style="padding: 16px;">
        <% @user.active_friends.last(16).each do |user| %>
          <%= link_to user_path(user.username) do %>
            <% if user.avatar.friendship.present? %>
              <%= image_tag(user.avatar_url(:friendship), class: "img-rounded grey-border pull-left") %>
            <% else %>
              <div class="default-friendship-icon <%= color_length(user.first_name.length) %>" style="float: left; height: 50px;"><%= user.first_name.chars.first + user.last_name.chars.first %></div>
            <% end %>
          <% end %>
        <% end %>
        <div class="clearfix"></div>
      </div>
    </div>
  <% end %>
<!-- End Friend Box -->
