<!-- Start User Box Desktop -->
<div class="ibox float-e-margins hidden-xs hidden-sm">
  <div class="ibox-content user-panel">
   <div class="pull-left">
    <% if @user.avatar.profile.present? %>
      <%= image_tag(@user.avatar_url(:profile), class: "img-rounded grey-border") %>
    <% else %>
      <div class="default-profile-icon <%= color_length(@user.first_name.length) %>"><%= @user.first_name.chars.first.titlecase + @user.last_name.chars.first.titlecase %></div>
    <% end %>
  </div>
  <div class="media-body">
   <% if current_user == @user %>
   <small class="text-muted">Welcome Back</small>
   <% end %>
   <div class="media-name">
    <%= @user.first_name %> <%= @user.last_name %>
  </div>
  <div class="media-location m-b-xs">
    <small class="text-muted">
      <% if @user.city.present? %>
      <%= @user.city %><% end %><% if @user.state.present? %>, <%= @user.state %>
      <br />
      <% end %>
    </small>
    <small class="text-muted">Member Since: <%= @user.created_at.strftime("%-m/%-d/%y") %></small>
  </div>
  <% if current_user && current_user != @user %>
    <div class="action-button-for-<%= @user.id %>">
      <%= action_buttons_profile(@user) %>
    </div>
  <% else %>
    <%= link_to('Edit Profile', edit_user_registration_path, class: "btn btn-xs btn-white btn-square")%>
  <% end %>
</div>
</div>
<div class="media-counts">
  <div class="media-friend-count"><%= pluralize(@user.active_friends.size, 'Friend') %></div>
  <div class="media-post-count"><%= pluralize(@user.posts.count + @user.group_posts.count, 'Post') %></div>
  <div class="clearfix"></div>
</div>
</div>
<!-- End User Box Desktop-->
<!-- Start User Box Mobile -->
<div class="ibox float-e-margins hidden-md hidden-lg p-b-sm">
  <div class="ibox-content user-panel" style="min-height: 76px;">
   <div class="pull-left">
    <% if @user.avatar.present? %>
      <%= image_tag(@user.avatar_url(:friendship), class: "img-circle grey-border") %>
    <% else %>
      <div class="default-friendship-icon <%= color_length(@user.first_name.length) %>"><%= @user.first_name.chars.first + @user.last_name.chars.first %></div>
    <% end %>
  </div>
  <div class="media-body">
   <% if current_user == @user %>
   <small class="text-muted">Welcome Back</small>
   <% end %>
   <div class="media-name">
    <%= @user.first_name %> <%= @user.last_name %>
  </div>
  
      <% if @user.city.present? %>
      <small class="text-muted">
      <%= @user.city %><% end %><% if @user.state.present? %>, <%= @user.state %>
      </small>
      <br />
      <% end %>
  <% if current_user && current_user != @user %>
  <%= action_buttons_profile(@user) %>
  <% else %>
  <%= link_to('Edit Profile', edit_user_registration_path, class: "btn btn-xs btn-white btn-square")%>
  <% end %>
  <div class="clear-fix"></div>
</div>
</div>

</div>
<!-- End User Box Mobile -->
