
<%= link_to conversations_path(sender_id: current_user.id, recipient_id: @user.id), method: 'post', class: 'btn btn-primary btn-block m-b-lg' do %>
  	<i class="fa fa-comment fa-fw"></i> Message Me
<% end %>

