<!-- Start Groups Box -->
  <% if @groups.size > 0 %>
    <div class="ibox float-e-margins m-t-lg hidden-xs">
      <div class="ibox-title">
        <h5>My Groups <span class="grey-text">(<%= @groups.size %>)</span></h5>
        <span class="pull-right">
          <% if @groups.size > 5 %>
            <%= link_to "View All", groups_your_groups_path, class: "btn btn-xs btn-white" %>
          <% else %>
            <%= link_to "View", groups_your_groups_path, class: "btn btn-xs btn-white" %>
          <% end %>
        </span>
      </div>
      <div class="ibox-content no-side-borders" style="padding-top: 0px;">
        <div class="feed-activity-list">
          <% @groups.each do |group| %>
            <div class="feed-element">
              <%= link_to group_path(group.group.id) do %>
                <% if group.group.image.friendship.present? %>
                  <%= image_tag(group.group.image_url(:friendship), class: "img-rounded grey-border pull-left group-box-image") %>
                <% else %>
                  <div class="default-group-box-icon <%= color_length(group.group.name.length) %> "><i class="fa fa-users fa-fw"></i></div>
                  <div class="clear-fix"></div>
                <% end %>
              <% end %>
              <div class="media-body p-l-sm">
              <strong><%= link_to group_path(group.group.id) do %><%= group.group.name %><% end %></strong>
          <br />
          <small class="text-muted">
            <%= group.group.organization %>
            <% if group.group.organization.present? && group.group.location.present? %>/<% end %>
            <%= group.group.location %>
          </small>
          </div>
          </div>
          <% end %>
          <div class="clear-fix"></div>
      </div>
    </div>
  </div>
  <% end %>
<!-- End Friend Box -->
