<div class="ibox float-e-margins">
  <div class="ibox-content user-panel">
  	<h4>Welcome to the community!</h4>
  	<p>We are so glad you joined us. Here are a few things you'll want to do to get started:
  		<ul>
  			<li><%= link_to('Complete your profile', edit_user_registration_path) %>.</li>
  			<li><%= link_to('Find some friends', users_path) %>.</li>
  			<li>Post a Prayer Request or Praise Report by clicking the big green Add Post button.</li>
  		</ul>
  	<p>PS. This panel only shows up the first time you log in</p>
  	</p>
	</div>
</div>
