<footer>
	<div class="container">
		<div class="pull-right">
			<%= link_to 'Frequent Questions', faq_path %> <span class="dash">/</span> <%= link_to 'Terms', terms_path %> <span class="dash">/</span> <%= link_to 'Privacy', privacy_path %> <span class="dash">/</span> <%= link_to 'Contact Us', contact_path %>
		</div>
		<div>
			&copy; Copyright <%= Time.now.year %> - CoPrayers.com
		</div>
	</div>
</footer>
