<div class="ibox float-e-margins">
	<div class="ibox-title">
		<h5>What's a Group?</h5>
	</div>
	<div class="ibox-content no-side-borders">
		<p>A group is a way to organize people around a common interest.</p>
		<p><strong>Public groups</strong> can be joined by anyone. <strong>Private groups</strong> require a group administrator to approve join requests.</p>
			<%= link_to "Create A Group", new_group_path, class: "btn btn-primary" %>
	</div>
</div>
