
  <nav class="navbar navbar-default sub-nav">
    <ul class="nav navbar-nav">
     <li><%= link_to "All Groups", groups_path, class: "#{'active' if current_page?(groups_path)}" %></li>
     <li><%= link_to "Your Groups", groups_your_groups_path, class: "#{'active' if current_page?(groups_your_groups_path)}" %></li>
   </ul>
   <ul class="nav navbar-nav navbar-right col-md-5">
     <%= form_tag(groups_path, :method => "get", id: "search-form", class: "navbar-form") do %>
     <div class="right-inner-addon">
      <i class="fa fa-search fa-fw"></i>
      <%= text_field_tag :query, params[:query], placeholder: "Search by Name, Organization, Location", autocomplete: "off", class: "form-control" %>
    </div>
    <% end %>
  </ul>
</nav>

