<div class="ibox float-e-margins m-t-lg">
  <div class="ibox-title">
    <h5>Group Invitation</h5>
  </div>
  <div class="ibox-content no-side-borders">
  		Send an email invitation to join this group.
  		<%= form_for @group_invite, url: group_invite_path do |group_invite_form| %>
        <%= hidden_field_tag :id, params[:id] %>
	  		<%= group_invite_form.text_field :email, class: "form-control m-t-sm", placeholder: "Email Address" %>
	  		<%= group_invite_form.text_field :first_name, class: "form-control m-t-sm", placeholder: "First Name (Optional)" %>
  			<%= group_invite_form.button "Send Invitation", class: "btn btn-primary m-t-sm", data: {disable_with: "<i class='fa fa-fw fa-spinner fa-spin'></i> Sending..."} %>
  		<% end %>
  </div>
</div>
