<div class="ibox float-e-margins">
  <div class="ibox-title">
    <h5>Invite Someone</h5>
  </div>
  <div class="ibox-content no-side-borders">
  		Can't find who you're looking for? Invite them.
  		<%= form_for @invite, url: invite_path do |invite_form| %>
	  		<%= invite_form.text_field :email, class: "form-control m-t-sm", placeholder: "Their Email" %>
	  		<%= invite_form.text_field :first_name, class: "form-control m-t-sm", placeholder: "Their First Name (Optional)" %>
  			<%= invite_form.button "Send Invitation", class: "btn btn-primary m-t-sm", data: {disable_with: "<i class='fa fa-fw fa-spinner fa-spin'></i> Sending..."} %>
  		<% end %>
  </div>
</div>
