<div class="ibox float-e-margins">
  <div class="ibox-content user-panel">
  <strong>Hi There!</strong> We've noticed that your profile is missing your location. How about adding it now?
  <%= link_to('Edit Profile', edit_user_registration_path, class: 'btn btn-primary btn-xs m-l-sm') %>
  </div> 
</div>
