<!--Start Header-->
   
   <header class="header">
    <div class="container">
      
      
        <div class="row">
          
            <div class="col-md-3 logo-container">
              <%= link_to root_path, class: 'logo' do %>
                Co<span>Prayers</span>
              <% end %>
            </div>
            
            <div class="col-md-9">
              <ul class="nav wtf-menu pull-right hidden-sm hidden-xs">
              <% if user_signed_in? && current_user.status != 'locked' %>
              <li class="<%= 'active' if current_page?(activities_path) %>"><%= link_to "Timeline", activities_path %></li>
              <li class="js-people-link <%= 'active' if current_page?(users_path) %>">
                <% if request_count > 0 %>
                  <%= link_to users_path(people: "requests") do %>
                    People
                      <span class="badge"><%= request_count %></span>
                  <% end %>
                <% else %>
                  <%= link_to users_path do %>
                    People
                  <% end %>
                <% end %>
              </li>
              <li class="<%= 'active' if current_page?(groups_path) || current_page?(new_group_path) || current_page?(groups_your_groups_path)%>"><%= link_to "Groups", groups_path %>
              </li>
              <% if current_user.private_message_system_on %>
              <li>
                <%= link_to conversations_path do %>
                  Messages
                  <% if unread_count > 0 %>
                    <span class="badge"><%= unread_count %></span>
                  <% end %>
                <% end %>
              </li>
              <% end %>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                  <% if current_user.avatar.navigation.present? %>
                    <%= image_tag(current_user.avatar_url(:navigation), class: "img-rounded") %>
                  <% else %>
                    <span class="default-navigation-icon <%= color_length(current_user.first_name.length) %>"><%= current_user.first_name.chars.first + current_user.last_name.chars.first %></span>
                  <% end %>
                    <%= current_user.first_name.titlecase %> <%= current_user.last_name.titlecase %>
                  <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" role="menu">
                  <li><%= link_to('Your Profile Page', user_path(current_user.username)) %></li>
                  <li><%= link_to('Edit Profile', edit_user_registration_path) %></li>
                  <li><%= link_to('Your Friends', users_path(people: "friends")) %></li>
                  <li><%= link_to('Your Groups', groups_your_groups_path) %></li>
                  <li><%= link_to('Community Support', support_path) %></li>
                  <li><%= link_to('Sign Out', destroy_user_session_path, :method => :delete) %></li>
                  <% if current_user && current_user.admin? %>
                    <li><%= link_to "Admin", admin_path %></li>
                  <% end %>
                </ul>
              </li>
              
            <% else %>
              <% if current_page?(root_path) %>
                <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: "navbar-form hidden-xs hidden-sm"}) do |f| %>
                  <div class="form-group">
                    <%= f.email_field :email, class: "form-control m-r-xs", placeholder: "Email Address" %>
                  </div>
                  <div class="form-group">
                    <%= f.password_field :password, autocomplete: "off", class: "form-control m-r-xs", placeholder: "Password" %>
                  </div>  
                  <%= f.submit "Sign In", class: "btn btn-primary" %>  
                <% end %>
              <% else %>
                <ul class="nav navbar-nav navbar-right hidden-sm hidden-xs">
                  <li><%= link_to "Home", root_path %></li>
                  <li class="<%= 'active' if current_page?(new_user_registration_path) %>"><%= link_to('Sign Up', new_user_registration_path) %></li>
                  <li class="<%= 'active' if current_page?(new_session_path(resource_name)) %>"><%= link_to "Sign In", new_session_path(resource_name) %></li>
                </ul>
              <% end %>
            <% end %>
                </ul>
            </div>
            
        </div>
        
        
    </div>  
    </header>
   <!--End Header-->
  
  
  <!-- Mobile Menu Start -->
  <div class="container">
    <div id="page">
      <header class="header hidden-lg hidden-md">
        <a href="#menu">Menu <i class="fa fa-bars fa-fw"></i></a>
      </header>
      
      <nav id="menu" class="hidden-lg hidden-md">
        <ul>
          <% if user_signed_in? && current_user.status != 'locked' %>
              <li class="<%= 'select' if current_page?(activities_path) %>"><%= link_to "Timeline", activities_path %></li>
              <li class="js-people-link <%= 'select' if current_page?(users_path) %>">
                <%= link_to users_path do %>
                  People
                  <% if request_count > 0 %>
                    <span class="badge badge-white"><%= request_count %></span>
                  <% end %>
                <% end %>
              </li>
              <li class="<%= 'select' if current_page?(groups_path) || current_page?(new_group_path) || current_page?(groups_your_groups_path)%>"><%= link_to "Groups", groups_path %>
              </li>
              <% if current_user.private_message_system_on %>
              <li class="<%= 'select' if current_page?(conversations_path) %>">
                <%= link_to conversations_path do %>
                  Messages
                  <% if unread_count > 0 %>
                    <span class="badge badge-white"><%= unread_count %></span>
                  <% end %>
                <% end %>
              </li>

              <% end %>
              <li>
                <%= link_to(user_path(current_user.username)) do %>
                  <% if current_user.avatar.present? %>
                    <%= image_tag(current_user.avatar_url(:navigation), class: "img-circle") %>
                  <% else %>
                    <span class="default-admin-icon <%= color_length(current_user.first_name.length) %>"><%= current_user.first_name.chars.first + current_user.last_name.chars.first %></span>
                  <% end %>
                  <% if current_user.first_name.present? %>
                    <%= current_user.first_name %> <%= current_user.last_name %>
                  <% else %>
                    <%= current_user.username %>
                  <% end %>
                <% end %>
                <ul>
                  <li><%= link_to('Your Profile Page', user_path(current_user.username)) %></li>
                  <li><%= link_to('Edit Profile', edit_user_registration_path) %></li>
                  <li><%= link_to('Your Friends', users_path(people: "friends")) %></li>
                  <li><%= link_to('Your Groups', groups_your_groups_path) %></li>
                  <li><%= link_to('Community Support', support_path) %></li>
                </ul>
              </li>
              <li><%= link_to('Sign Out', destroy_user_session_path, :method => :delete) %></li>
              <% if current_user && current_user.admin? %>
                    <li><%= link_to "Admin", admin_path %></li>
                  <% end %>
            <% else %>
                <li><%= link_to('Home', root_path) %></li>
                <li><%= link_to('Sign Up', new_user_registration_path) %></li>
                <li><%= link_to('Sign In', new_user_session_path) %></li>
              <% end %>
            
          
          
        </ul>
                
                
      </nav>
    </div>
    </div>
    <!-- Mobile Menu End -->

