<%= form_for @group, :html => {:multipart => true} do |f| %>

<% if @group.errors.any? %>
    <div id="error_explanation">
      <h3>
        <%= pluralize(@group.errors.count, "error") %> prohibited
        this Group from being saved:
      </h3>
      <ul>
        <% @group.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<div class="form-group">
	<%= f.label :name, 'Group Name' %><a href="#" data-toggle="popover" data-trigger="focus" title="Group Name" data-content="A descriptive name for the group. ie. 'Wednesday Night Home Group'" class="badge grey-badge">?</a>

	<%= f.text_field :name, class: 'form-control' %>
</div>

<div class="form-group">
	<%= f.label :organization %><a href="#" data-toggle="popover" data-trigger="focus" title="Organization" data-content="The Church, Ministry or Organization responsible for this group." class="badge grey-badge">?</a>
	<%= f.text_field :organization, class: 'form-control' %>
</div>

<div class="form-group">
	<%= f.label :location %><a href="#" data-toggle="popover" data-trigger="focus" title="Location" data-content="City and State/Province where the above organization is. Many churches are named the same, this helps clarify ownership." class="badge grey-badge">?</a>
	<%= f.text_field :location, class: 'form-control' %>
</div>

<div class="form-group">
	<%= f.label :description %><a href="#" data-toggle="popover" data-trigger="focus" title="Description" data-content="A short description that may help clarify what the group is about. (Optional)" class="badge grey-badge">?</a>
	<%= f.text_field :description, class: 'form-control' %>
</div>

<div class="form-group">
	<%= f.label :privacy, 'Private or Public' %><a href="#" data-toggle="popover" data-trigger="focus" title="Private or Public" data-content="We highly recommend making your group private so that all new members must be approved by a group administrator before reading or posting to the group." class="badge grey-badge">?</a>
<%= f.select :privacy, options_for_select([["Private", "Private"], ["Public", "Public"]], :selected => f.object.privacy), {}, {:class => 'form-control'} %>
</div>

<div class="form-group">
<%= f.button "Submit", :class => 'btn btn-primary', data: {disable_with: "<i class='fa fa-fw fa-spinner fa-spin'></i> Submitting"}  %>
</div>

<% end %>

