<!-- Start Group Box -->
<div class="ibox float-e-margins">
  <div class="ibox-content user-panel">
    <div class="pull-left">
			<% if @group.image.profile.present? %>
				<%= image_tag(@group.image_url(:profile), class: "img-rounded grey-border") %>
			<% else %>
				<div class="default-profile-icon <%= color_length(@group.name.length) %> grey-border"><i class="fa fa-users fa-fw font-awesome-profile-icon"></i></div>
			<% end %>
		</div>
		<div class="media-body">
      <div class="media-name">
      	<%= @group.name %>
      </div>
      <div class="media-location m-b-xs">
        <small class="text-muted">
 
					<% if @group.organization.present? %>
						<%= @group.organization %><br />
					<% end %>
					<% if @group.location.present? %>
						<%= @group.location %>
					<% end %>
				
				</small>
			</div>
		</div>
		</div>
			<% if @group.description.present? %>
			<div class="ibox-content user-panel p-t-none p-b-none"><p><small><strong>Group Description:</strong><br /><%= @group.description %></small></p></div>
			<% end %>
			<% if current_page?(group_path) %>
				<% if current_user %>
					<% if @current_member %>
						<% if @current_member.role == "admin" || @current_member.role == "moderator" || @current_member.role == "member"  %>
						<div class="ibox-content user-panel"><button id="js-add-post-button" class="btn btn-block btn-primary"><i class="fa fa-plus fa-fw"></i> Add Group Post</button></div>
						<% end %>
						<% if @current_member.role == "member"  %>
						<div class="ibox-content user-panel p-t-none">
							<%= link_to group_members_path(@group), class: "btn btn-white btn-sm btn-block m-t-none" do %>
							<i class="fa fa-users fa-fw"></i> View Members
							<% end %>
						</div>
						<% end %>
					<% end %>
				<% end %>
			<% else %>
				<div class="ibox-content user-panel"><%= link_to "Back to group page", group_path(@group.id), class: "btn btn-primary btn-block" %></div>
			<% end %>
			
			<% if current_user.admin_this_group?(@group) %>
				<div class="ibox-content ibox-heading">
					<h4>Group Admin Controls</h4>
						<%= link_to 'Manage Members', group_members_path(@group), class: "btn btn-primary btn-sm m-t-sm" %>
						<%= link_to 'Edit Group', edit_group_path(@group), class: "btn btn-primary btn-sm m-t-sm" %>
				</div>
			<% else %>
				<%= render 'join_buttons' %>
			<% end %>

			<div class="media-counts">
              <div class="media-friend-count"><%= pluralize((@group.regular_users.count + @group.moderators.count + @group.admins.count), 'Member') %></div>
              <div class="media-post-count"><%= pluralize(@group.group_posts.count, 'Post') %></div>
              <div class="clearfix"></div>
      </div>

</div>
