  <div class="group-row <%= cycle('even', 'odd') -%>">
    <div class="col-sm-8">
      <div class="pull-left">
        <%= link_to group_path(group) do %>
          <% if group.image.friendship.present? %>
            <%= image_tag(group.image_url(:friendship), class: "img-rounded grey-border") %>
          <% else %>
            <div class="default-friendship-icon <%= color_length(group.name.length) %> "><i class="fa fa-users fa-fw font-awesome-friendship-icon"></i></div>
          <% end %>
        <% end %>
      </div>
      <div class="search-body">
        <div class="name m-t-xs">
          <%= link_to group_path(group) do %>
            <%= group.name %>
          <% end %>
        </div>
        <div class="location m-b-xs">
          <% if group.organization.present? %>
            <%= group.organization %>
            <% if group.location.present? %>
              <span class="dash">/</span>
            <% end %>
          <% end %>
          <% if group.location.present? %>
            <%= group.location %>
          <% end %>
            <span class="dash">/</span>
            <%= pluralize((group.regular_users.count + group.moderators.count + group.admins.count), 'Member') %>
            <span class="dash">/</span>
            <% if group.privacy == "Private" %>
              Private Group
            <% else %>
              Public Group
            <% end %>
        </div>
      </div>
    </div>
      <div class="col-sm-4">
        <% if current_user %>
          <span class="pull-right m-t-sm action-button-for-<%= group.id %>">
            <%= link_to 'Show', group_path(group), class: "btn btn-white btn-sm" %>
            <% if current_user.admin_this_group?(group) || current_user.moderate_this_group?(group) %>
              <%= link_to 'Manage Members', group_members_path(group), class: "btn btn-white btn-sm" %>
            <% end %>
          </span>
        <% end %>
      </div>
          <div class="clearfix"></div>
  </div>


