<div class="ibox-content">
	<hr class="m-t-none m-b-sm"/>
		<strong>Group Membership</strong>
		<p><small>
			You are currently
			<% if @current_member && @current_member.role != "pending" %>
				a member
			<% else %>
				not a member
			<% end %>
			of this
			<% if @group.privacy == "Private" %>
				<strong>private</strong>
			<% else %>
				<strong>public</strong>
			<% end %>
			group.
			</small>
		</p>




<% if current_user && @current_member %>
	<% if current_user.admin_this_group?(@group) || current_user.moderate_this_group?(@group) %>
		<% if @group.admins.count == 1 %>
			<%# Only Admin User %>
		<% else %>
			<%# Not Only Admin User %>
			<%= button_to 'Stop being Admin and Leave Group', group_group_member_path(@group, @current_member), method: :delete, :class => "btn btn-warning btn-block" %>
		<% end %>
	<% else %>
		<% if @current_member.role == "pending" %>
			
					<small>You sent a join request to this group <%= time_ago_in_words(@current_member.created_at) %> ago.</small>	
					<%= button_to 'Cancel Join Request', group_group_member_path(@group, @current_member), method: :delete, :class => "btn btn-warning btn-sm m-t-sm" %>

		<% else %>
			<%= button_to 'Leave Group', group_group_member_path(@group, @current_member), method: :delete, :class => "btn btn-white btn-sm" %>
		<% end %>
	<% end %>
<% else %>
	<% if @group.privacy == "Public" %>
		<%= button_to 'Join Group', group_group_members_path(@group), :class => "btn btn-primary btn-sm" %>
	<% else %>
		<%= button_to 'Send Join Request', group_group_members_path(@group), :class => "btn btn-primary btn-sm" %>
	<% end %>
<% end %>
<% if @current_member && @current_member.role != "pending" %>
	<hr class="m-t-sm m-b-sm"/>
		<strong>Group Email Notify</strong>
		<p><small>
			You are currently
			<% if @current_member.email_notify == false %>
				not receiving
			<% else %>
				receiving
			<% end %>
			emails when a member posts to this group.
		</small></p>
	<% if @current_member.email_notify == false %>
		<%= link_to "Turn On Email Notify", email_notify_on_path(@group, @current_member), method: :put, class: 'btn btn-sm btn-primary' %>
	<% else %>
	<%= link_to "Turn Off Email Notify", email_notify_off_path(@group, @current_member), method: :put, class: 'btn btn-sm btn-primary' %>
	<% end %>
<% end %>
</div>
