<div class="user-row <%= cycle('even', 'odd', name: 'member') %>">
	<div class="col-sm-6">
		<div class="pull-left">
			<%= link_to user_path(member.user.username) do %>
			<% if member.user.avatar.friendship.present? %>
			<%= image_tag(member.user.avatar_url(:friendship), class: "img-rounded grey-border") %>
			<% else %>
			<div class="default-friendship-icon <%= color_length(member.user.first_name.length) %>"><%= member.user.first_name.chars.first.titlecase + member.user.last_name.chars.first.titlecase %></div>
			<% end %>
			<% end %>
		</div>
		<div class="search-body">
			<div class="name m-t-xs">
				<%= link_to user_path(member.user.username) do %>
				<% if member.user.first_name.present? %>
				<%= member.user.first_name %> <%= member.user.last_name %>
				<% else %>
				<%= member.user.username %>
				<% end %>
				<% end %>
			</div>
			<div class="location m-b-xs">
				<% if member.user.city.present? || member.user.state.present? %>
				<% else %>
				No Location Given
				<% end %>
				<% if member.user.city.present? %>
				<%= member.user.city %><% end %><% if member.user.state.present? %>, <%= member.user.state %>
				<% end %>
			</div>
		</div>
	</div>
	<div class="col-sm-6">
		<% if current_user %>
		<span class="pull-right m-t-sm action-button-for-<%= member.user.id %>">
			<% if current_user == member.user %>
			<p>This is you.</p>
			<% else %>
			<%# action_buttons(member.user) %>
			<% if current_user.admin_this_group?(@group) || current_user.moderate_this_group?(@group) %>

				<div class="pull-right dropdown">
				<button class="dropdown-toggle btn-white" data-toggle="dropdown" aria-expanded="false">
					<i class="fa fa-angle-down"></i>
				</button>
				<ul class="dropdown-menu m-t-xs">
				<% if current_user.admin_this_group?(@group) %>
					<% if member.role != "admin" %>
						<li>
							<%= link_to make_admin_path(@group, member.id), method: :put do %>
								Make <%= member.user.first_name %> an Administrator
							<% end %>
						</li>
					<% end %>
				<% end %>
				<% if member.role != "moderator" %>
					<li>
						<%= link_to make_moderator_path(@group, member.id), method: :put do %>
							Make <%= member.user.first_name %> a Moderator
						<% end %>
					<li>
				<% end %>
				<% if member.role != "member" %>
					<li>
						<%= link_to make_member_path(@group, member.id), method: :put do %>
							Make <%= member.user.first_name %> a Group Member
						<% end %>
					</li>
				<% end %>
				<% if member.role == "pending" %>
					<li>
						<%= link_to reject_member_path(@group, member.id), method: :delete, data: { confirm: 'Are you sure you want to delete this group member?', :'confirm-button-text' => 'Delete', :'cancel-button-text' => 'Cancel', :'confirm-button-color' => '#EFA039'} do %>
							Reject membership request
						<% end %>
					</li>
				<% end %>
				<% if member.role == "member" || member.role == "moderator" %>
					<li>
						<%= link_to ban_member_path(@group, member.user.id), method: :delete, data: { confirm: 'Are you sure you want to delete this group member?', :'confirm-button-text' => 'Delete', :'cancel-button-text' => 'Cancel', :'confirm-button-color' => '#EFA039'} do %>
							Remove <%= member.user.first_name %> from group
						<% end %>
					</li>
				<% end %>
				</ul>
			</div>
		<% end %>
		</span>
		<% end %>
		<% end %>
	</div>
	<div class="clearfix"></div>
</div>

