<div class="row wrapper border-bottom page-heading m-b-lg">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<h2>Crop New Group Image</h2>
			</div>
		</div>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="ibox float-e-margins">
			<div class="ibox-title">
				<h5>Step 2: Crop New Photo</h5>
			</div>
			<div class="ibox-content">
				<div class="col-md-7">
					<%= image_tag @group.image.url, id: "group_cropbox" %>
				</div>
				<div class="col-md-5">
					<h4>Preview</h4>
					<div class="jcrop grey-border" style="width:100px; height:100px; overflow:hidden; border-radius: 5px;">
						<%= image_tag @group.image.url, id: "group_preview" %>
					</div>
					<%= form_for @group do |f| %>
					<% %w[x y w h].each do |attribute| %>
					<%= f.hidden_field "crop_#{attribute}" %>
					<% end %>
					<div class="actions m-t-md">
						<%= f.button "Crop Image", class: "btn btn-primary mt10", data: {disable_with: "<i class='fa fa-fw fa-spinner fa-spin'></i> Cropping"} %>
					</div>
					<% end %>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
</div>
