<div class="row wrapper border-bottom page-heading m-b-lg">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<h2>Edit Group Profile</h2>
			</div>
		</div>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-md-3">
			<div class="ibox float-e-margins">
				<div class="ibox-title">
					<h5>Current Group Image</h5>
				</div>
				<div class="ibox-content user-panel">
					<div class="pull-left">
						<% if @group.image.profile.present? %>
							<%= image_tag(@group.image_url(:profile).to_s, class: "img-rounded grey-border") %>
						<% else %>
							<div class="default-profile-icon <%= color_length(@group.name.length) %> grey-border"><i class="fa fa-users fa-fw font-awesome-profile-icon"></i></div>
						<% end %>
					</div>
					<div class="edit-image-btn">
						<div class="image-action m-l-lg">
							<%= link_to "Change Image", group_upload_path(@group), class: "btn btn-sm btn-primary" %>
							<% if @group.image.profile.present? %>
              <%= link_to "Remove Image", group_image_remove_path, class: "btn btn-white btn-xs m-t-sm" %>
            <% end %>
            <%= link_to "Back To Group", group_path(@group), class: "btn btn-white btn-xs m-t-sm" %>
						</div>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
			<div class="ibox float-e-margins">
				<div class="ibox-title">
					<h5>Delete This Group</h5>
				</div>
				<div class="ibox-content user-panel">
				<p>Done with this group and want to remove it from the site?</p>
			<%= link_to 'Delete This Group', group_path(@group), method: :delete, data: { confirm: 'Are you sure you want to delete this group? This cannot be undone.', :'confirm-button-text' => 'Delete Group', :'cancel-button-text' => 'Cancel', :'confirm-button-color' => '#EFA039' }, class: "btn btn-white btn-sm" %>
				</div>
			</div>
		</div>
		<div class="col-md-9">
			<div class="ibox float-e-margins">
				<div class="ibox-title">
				<h5>Edit Group Form</h5>
				</div>
				<div class="ibox-content no-side-borders">
					<%= render 'form' %>
				</div>
			</div>
		</div>
	</div>
</div>
