<div class="row wrapper page-heading m-b-lg">
  <div class="container">
  	<div class="row">
	    <div class="col-lg-12">
	      <h2>Groups</h2>
	    </div>
	  </div>
  </div>
</div>
<div class="container">
	<div class="row">
		<div class="col-md-3">
			<%= render 'partials/group_box' %>
			<%= render 'partials/ads' %>
		</div>
		<div class="col-md-9">
			<%= render 'partials/groups_sub_nav' %>
	<% if params[:query].present? %>
		<h3 class="text-center m-t-lg"><%= pluralize(@groups.size, 'search result') %> found for: "<%= params[:query] %>"</h3>
	<% else %>
		<h3 class="text-center m-t-lg">Newest Groups</h3>
	<% end %>
		<div class="ibox float-e-margins">
      <div class="ibox-content user-panel search-user-panel m-t-none p-t-none">
				<% if @groups.present? %>
					<%= render @groups %>
				<% else %>
					<div style="padding: 16px;"><h5>There are no groups containing the term(s): <b><%= params[:query] %></b>.</h5></div>
				<% end %>
			</div>
		</div>
		<%= paginate @groups %>
	</div>
</div>
</div>

