<div class="row wrapper border-bottom page-heading m-b-lg">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<h2>Group Members for <%= @group.name %></h2>
			</div>
		</div>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-md-3">
			<%= render 'group_box' %>
		</div>
		<div class="col-md-9">
			<% if @admins.any? %>
				<h3 class="text-center">Group Admins</h3>
				<div class="ibox float-e-margins">
					<div class="ibox-content friend-user-panel m-t-none p-t-none">
						<%= render partial: 'member', collection: @admins %>
					</div>
				</div>
			<% end %>
			<% reset_cycle('member') %>
			<% if @moderators.any? %>
				<h3 class="text-center">Group Moderators</h3>
				<div class="ibox float-e-margins">
					<div class="ibox-content friend-user-panel m-t-none p-t-none">
						<%= render partial: 'member', collection: @moderators %>
					</div>
				</div>
			<% end %>
			<% reset_cycle('member') %>
			<% if @pending.any? %>
				<h3 class="text-center">Pending Requests</h3>
				<div class="ibox float-e-margins">
					<div class="ibox-content friend-user-panel m-t-none p-t-none">
						<%= render partial: 'member', collection: @pending %>
					</div>
				</div>
			<% end %>
			<% reset_cycle('member') %>
			<% if @members.any? %>
				<h3 class="text-center">Group Members</h3>
				<div class="ibox float-e-margins">
					<div class="ibox-content friend-user-panel m-t-none p-t-none">
						<%= render partial: 'member', collection: @members %>
					</div>
				</div>
			<% end %>
		</div>
	</div>
</div>
