<div class="row wrapper page-heading m-b-lg">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<h2>Create A Group</h2>
			</div>
		</div>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-md-3">
			<div class="ibox float-e-margins">
				<div class="ibox-title">
				<h5>Creating A Group</h5>
				</div>
				<div class="ibox-content no-side-borders">
					<p>When you create a group you will be setup as the administrator. Every group must have an administrator.</p>
					<p></p>
				</div>
			</div>

			<%if (current_user.subscription_plan == "Individual_Monthly" || current_user.subscription_plan == "Individual_Annual") %>
			<div class="ibox float-e-margins">
				<div class="ibox-title">
				<h5>Individual Supporter</h5>
				</div>
				<div class="ibox-content no-side-borders">
					<p>You are currently subscribed as an Individual Supporter. You can create and administrate up to <strong>3</strong> groups. You currently have <strong><%= @count %></strong>.</p>
				</div>
			</div>
			<% elsif (current_user.subscription_plan == "Organization_Monthly" || current_user.subscription_plan == "Organization_Annual") %>
				<div class="ibox float-e-margins">
				<div class="ibox-title">
				<h5>Organizational Supporter</h5>
				</div>
				<div class="ibox-content no-side-borders">
					<p>You are currently subscribed as an Organizational Supporter. You can create and administrate up to <strong>20</strong> groups. You currently have <strong><%= @count %></strong>.</p>
				</div>
			</div>
			<% end %>


		</div>
		<div class="col-md-9">
			<%= render 'partials/groups_sub_nav' %>
			<% if current_user.subscription_plan.blank? && (@count >= 1) %>
				<div class="ibox float-e-margins m-t-lg">
					<div class="ibox-content no-side-borders">
						You've reached your limit of creating and administrating <strong>1</strong> group as a non-supporting member. <%= link_to "Please ugrade", support_path %> if you need to create more groups.
					</div>
				</div>
			<% elsif (current_user.subscription_plan == "Individual_Monthly" || current_user.subscription_plan == "Individual_Annual") && @count >= 3 %>
				<div class="ibox float-e-margins m-t-lg">
					<div class="ibox-content no-side-borders">
						You've reached your limit of creating and administrating <strong>3</strong> groups as an Individual Member. <%= link_to "Please ugrade", support_path %> to Organization level support if you need to create more than 3 groups.
					</div>
				</div>
			<% elsif (current_user.subscription_plan == "Organization_Monthly" || current_user.subscription_plan == "Organization_Annual") && @count >= 20 %>
				<div class="ibox float-e-margins m-t-lg">
					<div class="ibox-content no-side-borders">
						You've reached your limit of creating and administrating <strong>20</strong> groups as an Organizational Supporter. <%= link_to "Please contact us", contact_path %> if you need to create and administrate more groups.
					</div>
				</div>
			<% else %>
				<h3 class="text-center m-t-lg">Create A Group</h3>

				<div class="ibox float-e-margins">
					<div class="ibox-title">
					<h5>Create A Group Form</h5>
					</div>
					<div class="ibox-content no-side-borders">
						<%= render 'form' %>
					</div>
				</div>
			<% end %>
		</div>
	</div>
</div>

<script type="text/javascript">
	$(document).ready(function(){
		$('[data-toggle="popover"]').popover().click(function(event){event.preventDefault();})
	});
</script>
