<div class="row wrapper page-heading m-b-lg">
  <div class="container">
  	<div class="row">
    <div class="col-lg-12">
      <h2><%= @group.name %> <% if @group.organization.present? %>/<% end %> <small style="color: #fff;"><%= @group.organization %></small><small style="color: #fff;"> <% if @group.location.present? %>/<% end %> <%= @group.location %></small></h2>
      </div>
    </div>
  </div>
</div>

<div class="container">
	<div class="row">
		<%= render 'partials/alerts' %>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-md-3">
		<%= render 'group_box' %>
		<% if @current_member %>
			<% if @current_member.role == "admin" || @current_member.role == "moderator" %>
				<%= render 'partials/group_invite_box' %>
			<% end %>
		<% end %>
		<%= render 'partials/ads' %>
		</div>
		<div class="col-md-9">
			<% if @current_member %>
			 <% if @current_member.role == "admin" || @current_member.role == "moderator" || @current_member.role == "member" %>
				<%= render 'group_posts/form' %>
				<% if @group_posts.present? %>
					<%= render @group_posts %>
				<% else %>
					<div class="ibox float-e-margins">
						<div class="ibox-content no-side-borders">
							There are no group posts yet for this group.
						</div>
					</div>
				<% end %>
				<%= paginate @group_posts %>
			<% else %>
			<div class="ibox float-e-margins">
		<div class="ibox-content no-side-borders">
			You must be a member of this group to see its posts.
		</div>
	</div>
			<% end %>
		<% else %>
			<div class="ibox float-e-margins">
				<div class="ibox-content no-side-borders">
					You must be a member of this group to see its posts.
				</div>
			</div>
		<% end %>
		</div>
	</div>
</div>
