<div class="row wrapper border-bottom page-heading m-b-lg">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<h2>Upload New Image</h2>
			</div>
		</div>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-md-3">
			<div class="ibox float-e-margins">
				<div class="ibox-title">
					<h5>Current Group Image</h5>
				</div>
				<div class="ibox-content user-panel">
					<div class="pull-left">
						<% if @group.image.profile.present? %>
							<%= image_tag(@group.image_url(:profile).to_s, class: "img-rounded grey-border") %>
						<% else %>
							<div class="default-profile-icon <%= color_length(@group.name.length) %> grey-border"><i class="fa fa-users fa-fw font-awesome-profile-icon"></i></div>
						<% end %>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
		<div class="col-md-9">
			<div class="ibox float-e-margins">
				<div class="ibox-title">
					<h5>Step 1: Upload New Group Image</h5>
				</div>
				<div class="ibox-content">
					<%= form_for @group, :html => {:multipart => true} do |f| %>
						<div class="form-group">
							<%= f.file_field :image %>
						</div>
						<div class="form-group">
							<%= f.button "Upload Image", class: 'btn btn-primary btn-sm mt10', data: {disable_with: "<i class='fa fa-fw fa-spinner fa-spin'></i> Uploading"} %>
						</div>
					<% end %>
				</div>
			</div>
		</div>
	</div>
</div>
