<div class="row wrapper page-heading m-b-lg">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<h2>Your Groups</h2>
			</div>
		</div>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-md-3">
			<%= render 'partials/group_box' %>
			<%= render 'partials/ads' %>
		</div>
		<div class="col-md-9">
			<%= render 'partials/groups_sub_nav' %>

			<%# Groups You Administrate ==========================%> 
			<% if @admin.any? %>
				<h3 class="text-center m-t-lg">Groups You Administrate</h3>
				<div class="ibox float-e-margins">
						<div class="ibox-content user-panel search-user-panel m-t-none p-t-none">
						<% @admin.each do |admin| %>
							<div class="group-row <%= cycle('even', 'odd', name: "row_class") -%>">
								<div class="col-sm-8">
									<div class="pull-left">
										<%= link_to group_path(admin.group) do %>
										<% if admin.group.image.present? %>
										<%= image_tag(admin.group.image_url(:friendship), class: "img-rounded grey-border") %>
										<% else %>
										<div class="default-friendship-icon <%= color_length(admin.group.name.length) %> "><i class="fa fa-users fa-fw font-awesome-friendship-icon"></i></div>
										<% end %>
										<% end %>
									</div>
									<div class="search-body">
										<div class="name m-t-xs">
											<%= link_to group_path(admin.group) do %>
											<%= admin.group.name %>
											<% end %>
										</div>
										<div class="location m-b-xs">
											<% if admin.group.organization.present? %>
											<%= admin.group.organization %>
											<% if admin.group.location.present? %>
											<span class="dash">/</span>
											<% end %>
											<% end %>
											<% if admin.group.location.present? %>
											<%= admin.group.location %>
											<% end %>
											<span class="dash">/</span>
											<%= pluralize((admin.group.regular_users.count + admin.group.moderators.count + admin.group.admins.count), 'Member') %>
											<span class="dash">/</span>
											<% if admin.group.privacy == "Private" %>
											Private Group
											<% else %>
											Public Group
											<% end %>
										</div>
									</div>			
								</div>
								<div class="col-sm-4">
									<% if current_user %>
										<span class="pull-right m-t-sm action-button-for-<%= admin.group.id %>">
											<%= link_to 'Show', group_path(admin.group), class: "btn btn-white btn-sm" %> 
											<%= link_to 'Manage Members', group_members_path(admin.group), class: "btn btn-white btn-sm" %> 
										</span>
									<% end %>
								</div>
								<div class="clearfix"></div>
							</div>
							<% end %>
						</div>
					</div>
				
			<% end %>
			
			<% reset_cycle("row_class") %>

			<%# Groups You Moderate ==============================%>
			<% if @moderator.any? %>
				<h3 class="text-center m-t-lg">Groups You Moderate</h3>
				<div class="ibox float-e-margins">
						<div class="ibox-content user-panel search-user-panel m-t-none p-t-none">
							<% @moderator.each do |moderate| %>
							<div class="group-row <%= cycle('even', 'odd', name: "row_class") -%>">
								<div class="col-sm-8">
									<div class="pull-left">
										<%= link_to group_path(moderate.group) do %>
										<% if moderate.group.image.present? %>
										<%= image_tag(moderate.group.image_url(:friendship), class: "img-rounded grey-border") %>
										<% else %>
										<div class="default-friendship-icon <%= color_length(moderate.group.name.length) %> "><i class="fa fa-users fa-fw font-awesome-friendship-icon"></i></div>
										<% end %>
										<% end %>
									</div>
									<div class="search-body">
										<div class="name m-t-xs">
											<%= link_to group_path(moderate.group) do %>
											<%= moderate.group.name %>
											<% end %>
										</div>
										<div class="location m-b-xs">
											<% if moderate.group.organization.present? %>
											<%= moderate.group.organization %>
											<% if moderate.group.location.present? %>
											<span class="dash">/</span>
											<% end %>
											<% end %>
											<% if moderate.group.location.present? %>
											<%= moderate.group.location %>
											<% end %>
											<span class="dash">/</span>
											<%= pluralize((moderate.group.regular_users.count + moderate.group.moderators.count + moderate.group.admins.count), 'Member') %>
											<span class="dash">/</span>
											<% if moderate.group.privacy == "Private" %>
											Private Group
											<% else %>
											Public Group
											<% end %>
										</div>
									</div>			
								</div>
								<div class="col-sm-4">
									<% if current_user %>
										<span class="pull-right m-t-sm action-button-for-<%= moderate.group.id %>">
											<%= link_to 'Show', group_path(moderate.group), class: "btn btn-white btn-sm" %> 
											<%= link_to 'Manage Members', group_members_path(moderate.group), class: "btn btn-white btn-sm" %> 
										</span>
									<% end %>
								</div>
								<div class="clearfix"></div>
							</div>
							<% end %>
						</div>
					</div>
				
			<% end %>
			<% reset_cycle("row_class") %>

			<%# Groups You Sent Requests To ======================%> 
			<% if @requests.any? %>
				<h3 class="text-center m-t-lg">Group Join Requests You've Sent</h3>
				<% @requests.each do |request| %>
				<div class="ibox float-e-margins">
					<div class="ibox-content user-panel search-user-panel m-t-none p-t-none">
						<div class="group-row <%= cycle('even', 'odd', name: "row_class") -%>">
							<div class="col-sm-8">
								<div class="pull-left">
									<%= link_to group_path(request.group) do %>
									<% if request.group.image.present? %>
									<%= image_tag(request.group.image_url(:friendship), class: "img-rounded grey-border") %>
									<% else %>
									<div class="default-friendship-icon <%= color_length(request.group.name.length) %> "><i class="fa fa-users fa-fw font-awesome-friendship-icon"></i></div>
									<% end %>
									<% end %>
								</div>
								<div class="search-body">
									<div class="name m-t-xs">
										<%= link_to group_path(request.group) do %>
										<%= request.group.name %>
										<% end %>
									</div>
									<div class="location m-b-xs">
										<% if request.group.organization.present? %>
										<%= request.group.organization %>
										<% if request.group.location.present? %>
										<span class="dash">/</span>
										<% end %>
										<% end %>
										<% if request.group.location.present? %>
										<%= request.group.location %>
										<% end %>
										<span class="dash">/</span>
										<%= pluralize((request.group.regular_users.count + request.group.moderators.count + request.group.admins.count), 'Member') %>
										<span class="dash">/</span>
										<% if request.group.privacy == "Private" %>
										Private Group
										<% else %>
										Public Group
										<% end %>

									</div>
								</div>
							</div>
							<div class="col-sm-4">
								<% if current_user %>
								<span class="pull-right m-t-sm">
								<i><small>Requested: <%= time_ago_in_words(request.created_at) %> ago.</small></i> 
								</span>
								<% end %>
							</div>
							<div class="clearfix"></div>
						</div>
					</div>
				</div>
				<% end %>
			<% end %>
			<% reset_cycle("row_class") %>
			

			<%# Groups You Are Member Of ======================%> 
			<% if @member.any? %>
			<h3 class="text-center">Groups You're A Member Of</h3>
			<% @member.each do |member| %>
			<div class="ibox float-e-margins">
				<div class="ibox-content user-panel search-user-panel m-t-none p-t-none">

					<div class="group-row <%= cycle('even', 'odd', name: "row_class") -%>">
						<div class="col-xs-9">
							<div class="pull-left">
								<%= link_to group_path(member.group) do %>
								<% if member.group.image.present? %>
								<%= image_tag(member.group.image_url(:friendship), class: "img-rounded grey-border") %>
								<% else %>
								<div class="default-friendship-icon <%= color_length(member.group.name.length) %> "><i class="fa fa-users fa-fw font-awesome-friendship-icon"></i></div>
								<% end %>
								<% end %>
							</div>
							<div class="search-body">
								<div class="name m-t-xs">
									<%= link_to group_path(member.group) do %>
									<%= member.group.name %>
									<% end %>
								</div>
								<div class="location m-b-xs">
									<% if member.group.organization.present? %>
									<%= member.group.organization %>
									<% if member.group.location.present? %>
									<span class="dash">/</span>
									<% end %>
									<% end %>
									<% if member.group.location.present? %>
									<%= member.group.location %>
									<% end %>
									<span class="dash">/</span>
									<%= pluralize((member.group.regular_users.count + member.group.moderators.count + member.group.admins.count), 'Member') %>
									<span class="dash">/</span>
									<% if member.group.privacy == "Private" %>
									Private Group
									<% else %>
									Public Group
									<% end %>
								</div>
							</div>
						</div>
						<div class="col-xs-3">
							<% if current_user %>
							<span class="pull-right m-t-sm action-button-for-<%= member.group.id %>">
								<%= link_to 'Show', group_path(member.group), class: "btn btn-white btn-sm" %> 
							</span>
							<% end %>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
			</div>
			<% end %>
			<% end %>

			<%# If Not In ANY Groups Yet ======================%> 
			<% if @admin.empty? && @member.empty? && @requests.empty? && @moderator.empty? %>
				<div class="ibox float-e-margins m-t-md">
		      <div class="ibox-content user-panel search-user-panel m-t-none p-t-none">
						<div style="padding: 16px;">
							<h5>You're not in any groups yet. Why not <%= link_to "find one", groups_path %></b>.</h5>
						</div>
					</div>
				</div>
			<% end %>
		</div>
	</div>
</div>
