
	<div class="devise-form">
		<div class="form-heading">
			<h3 class="header">Search for Someone</h3>
			<hr>
		</div>
		<%= form_tag(users_path, :method => "get", id: "users-search", class: "") do %>
			<div class="form-body">
				<%= text_field_tag :query, params[:query], placeholder: "Search by Name / Location", class: "form-control" %>
			</div>
			<% end %>
	</div>
