<div class="row wrapper border-bottom page-heading m-b-lg">
  <div class="container">
    <div class="col-lg-12">
      <h2>
      	<% if @user == current_user %>
       Your Friends
       <% else %>
       Friends of 
       <% if @user.first_name.present? %>
        <%= @user.first_name %> <%= @user.last_name %>
       <% end %>
     </h2>
   </div>
 </div>
</div>
<div class="container">
	<div class="row">
		<div class="col-md-3">

			<%= render 'partials/box_user' %>

      <!-- Start User Bio Box -->
      <% if @user.bio.present? %>
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>Short Bio</h5>
        </div>
        <div class="ibox-content no-side-borders">
          <p><%= @user.bio %></p>
        </div>
      </div>
      <% end %>
      <!-- End User Bio Box -->

    </div>
    <div class="col-md-9">

      <% if @users.present? %>

      <div class="row">
        <div class="col-md-12">
          <div class="ibox float-e-margins">
          <div class="ibox-content friend-user-panel m-t-none p-t-none">
              <div id="js-user-results"><%= render @users %></div>
            </div>
          </div>
        </div>
      </div>
      <% end %>

    </div>
  </div>
</div>
