<div class="row wrapper page-heading m-b-lg">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<h2>Members & Friends</h2>
			</div>
		</div>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-md-3">
			<%= render 'partials/invite_box' %>
			<%= render 'partials/ads' %>
		</div>
		<div class="col-md-9">

			<nav class="navbar navbar-default sub-nav">
				<ul class="nav navbar-nav">
					<li><%= link_to "Everyone", users_path, class: "#{'active' unless params[:people]}" %></li>
					<li>
						<%= link_to users_path(people: "friends"), class: "#{'active' if params[:people] == 'friends'}" do %>
						Friends
						<% end %>
					</li>
					<li>
						<%= link_to users_path(people: "requests"), class: "#{'active' if params[:people] == 'requests'}" do %>
							Requests
							<% if request_count > 0 %>
							<span class="badge js-request-count"><%= request_count %></span>
							<% end %>
						<% end %>
					</li>
				</ul>
				<ul class="nav navbar-nav navbar-right col-md-5">
					<%= form_tag(users_path, :method => "get", id: "users-search", class: "navbar-form") do %>
					<div class="right-inner-addon">
						<i class="fa fa-search fa-fw"></i>
						<%= text_field_tag :query, params[:query], placeholder: "Search by Name and/or Location", class: "form-control" %>
					</div>
					<% end %>
				</ul>
			</nav>

			<%= render 'partials/alerts' %>
			
			<%# Everyone Tab ========================%>
			<% if !params[:people] && params[:query].nil? %>
				<h3 class="text-center m-t-lg">Newest Members</h3>
				<div class="ibox float-e-margins">
					<div class="ibox-content search-user-panel m-t-none p-t-none">
						<div id="js-user-results"><%= render @users %></div>
					</div>
				</div>

			<%= paginate @users %>
			<% end %>

			<%# Friends Tab ========================%>
			<% if params[:people] == 'friends' %>
				<h3 class="text-center m-t-lg">Your Friends</h3>
				<% if @friend_count == 0 %>
					<div class="ibox float-e-margins">
						<div class="ibox-content user-panel">
							You have not made any friends on the site. Why not <%= link_to "add some", users_path %>.
						</div>
					</div>
				<% else %>
					<div class="ibox float-e-margins">
						<div class="ibox-content search-user-panel m-t-none p-t-none">
							<div id="js-user-results"><%= render @users %></div>
						</div>
					</div>
				<%= paginate @users %>
				<% end %>
			<% end %>

			<%# Requests Tab ========================%>
			<% if params[:people] == 'requests' %>
			<h3 class="text-center m-t-lg">Received Requests</h3>
			<% if request_count == 0 %>
				<div class="ibox float-e-margins">
					<div class="ibox-content user-panel">
						You have no pending received requests.
					</div>
				</div>
			<% else %>
				<div class="ibox float-e-margins">
					<div class="ibox-content search-user-panel m-t-none p-t-none">
						<%= render partial: 'user', collection: @users_request %>
					</div>
				</div>
			<% end %>
			<% reset_cycle('users') %>
			<h3 class="text-center m-t-lg">Sent Requests</h3>
				<% if @pending_count == 0 %>
				<div class="ibox float-e-margins">
					<div class="ibox-content user-panel">
						You have no pending sent requests.
					</div>
				</div>
				<% else %>
					<div class="ibox float-e-margins">
						<div class="ibox-content search-user-panel m-t-none p-t-none">
							<%= render partial: 'user', collection: @users_pending %>
						</div>
					</div>
				<% end %>
			<% end %>
			
			<%# Search Results ========================%>
			<% if params[:query].present? %>
				<h3 class="text-center m-t-lg"><%= pluralize(@users.size, 'search result') %> found for: "<%= params[:query] %>"</h3>

				<% if @users.present? %>
					<div class="ibox float-e-margins">
						<div class="ibox-content search-user-panel m-t-none p-t-none">
							<div id="js-user-results"><%= render @users %></div>
						</div>
					</div>

				<%= paginate @users %>
				<% else %>
					<div class="ibox float-e-margins">
						<div class="ibox-content user-panel">
							<h5>There are no users matching the term(s): <strong><%= params[:query] %></strong>.</h5>
						</div>
					</div>
				<% end %>
			<% end %>
		</div>
	</div>
</div>
