<div class="row wrapper border-bottom page-heading m-b-lg">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<h2>
					<% if @user == current_user %>
						Your Profile Page
					<% else %>
						Profile for <%= @user.first_name %> <%= @user.last_name %>
					<% end %>
				</h2>
			</div>
		</div>
	</div>
</div>
<div class="container mh400">
	<div class="row">
		<div class="col-md-3">

			<%= render 'partials/box_user' %>

			<% if @user.id != current_user.id %>
				<% if current_user.friendship_status(@user) == "friends" || current_user == @user || current_user.admin? %>
					<% if @user.private_message_system_on && current_user.private_message_system_on %>
						<%= render 'partials/box_message_me' %>
					<% end %>
				<% end %>
			<% end %>

			<%= render 'partials/box_site_supporter' %>

			<% if current_user.admin? && current_user != @user %>
				<%= render 'partials/admin_box' %>
			<% end %>

			<!-- Start User Bio Box -->
			<% if @user.bio.present? %>
			<div class="ibox float-e-margins">
				<div class="ibox-title">
					<h5>Short Bio</h5>
				</div>
				<div class="ibox-content no-side-borders">
					<p><%= @user.bio %></p>
				</div>
			</div>
			<% end %>
			<!-- End User Bio Box -->

			<%= render 'partials/box_friends' %>

			<%= render 'partials/ads' %>

		</div>
		<div class="col-md-9">

			<% if current_user.friendship_status(@user) == "friends" || current_user == @user || current_user.admin? %>
				<%= render @posts %>
			<% else %>
				<div class="ibox float-e-margins">
					<div class="ibox-content no-side-borders">
						You must be friends with 
						<strong>
							<%= @user.first_name + " " + @user.last_name %>
						</strong>
						to see their posts.
					</div>
				</div>
			<% end %>
			<%= paginate @posts %>
		</div>
	</div>
</div>
