<div class="row wrapper border-bottom page-heading m-b-lg">
	<div class="container">
		<div class="col-lg-12">
			<h2>Upload New Photo</h2>
		</div>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-md-3">
			<div class="ibox float-e-margins">
				<div class="ibox-title">
					<h5>Current Profile Photo</h5>
				</div>
				<div class="ibox-content user-panel">
					<div class="pull-left">
						<% if current_user.avatar.present? %>
							<%= image_tag(current_user.avatar_url(:profile).to_s, class: "img-rounded grey-border") %>
						<% else %>
							<div class="default-profile-icon <%= color_length(current_user.first_name.length) %> grey-border"><%= current_user.first_name.chars.first + current_user.last_name.chars.first %></div>
						<% end %>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
		<div class="col-md-9">
			<div class="ibox float-e-margins">
				<div class="ibox-title">
					<h5>Step 1: Upload New Photo</h5>
				</div>
				<div class="ibox-content">
					<%= form_for @user, :html => {:multipart => true} do |f| %>
					<div class="form-group">
					<p>Image must be in .jpg, .jpeg or .png format.</p><br />
				
						<%= f.file_field :avatar %>
					</div>
					<div class="form-group">
						<%= f.button "Upload Photo", class: 'btn btn-primary btn-sm mt10', data: {disable_with: "<i class='fa fa-fw fa-spinner fa-spin'></i> Uploading"} %>
					</div>
					<% end %>
				</div>
			</div>

		</div>
	</div>
</div>

