<div class="row wrapper border-bottom page-heading m-b-lg">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2>Change Password</h2>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-push-3">
      <div class="devise-form">
        <div class="form-heading">
          <h3 class="header">Change Password</h3>
          <hr>
        </div>
        <div class="form-body">
          <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
            <%= devise_error_messages! %>
            <%= f.hidden_field :reset_password_token %>

            <div class="field">
              <%= f.password_field :password, autofocus: true, autocomplete: "off", class: "input-block-level", placeholder: "New Password (7 Characters Minimum)" %>
            </div>

            <div class="field">
              <%= f.password_field :password_confirmation, autocomplete: "off", class: "input-block-level", placeholder: "Confirm New Password" %>
            </div>
          </div>
          <div class="form-footer">
            <%= f.button "Change my password", class: "btn btn-primary btn-block", data: {disable_with: "<i class='fa fa-fw fa-spinner fa-spin'></i> Changing Password"} %>
          </div>
          <% end %>
        </div>
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
