<div class="row wrapper border-bottom page-heading m-b-lg">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2>Forgot Your Password?</h2>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-push-3">
      <div class="devise-form">
        <div class="form-heading">
          <h3 class="header p-b-none p-t-none">Forgot Password</h3>
          <hr>
        </div>
        <div class="form-body">

					<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
					  <%= devise_error_messages! %>

					  <div class="field">
					    <%= f.email_field :email, autofocus: true, class: "input-block-level", placeholder: "Email Address" %>
					  </div>
				</div>
					  <div class="form-footer">
					    <%= f.button "Send Reset Instructions", class: "btn btn-primary btn-block", data: {disable_with: "<i class='fa fa-fw fa-spinner fa-spin'></i> Sending Reset Instructions"} %>
					  </div>
					<% end %>
					</div>

<%= render "devise/shared/links" %>
    </div>
  </div>
</div>
