<div class="col-md-4 pull-left">
	<div class="ibox float-e-margins">
    <div class="ibox-content user-panel">
	  <strong><%= advertisement.title %></strong><br />
	  <%= advertisement.content %><br />
	  <a href="<%= advertisement.link %>"><%= advertisement.link_text %></a><br /> <br />

	  <td><%= link_to 'Edit', edit_advertisement_path(advertisement), class: "btn btn-primary btn-xs" %></td>
	  <td><%= link_to 'Destroy', advertisement, method: :delete, data: { confirm: 'Are you sure you want to delete this ad?' }, class: "btn btn-gold btn-xs" %></td>
		</div>
	</div>
</div>

