<div class="ibox float-e-margins">
  <div class="ibox-content user-panel">
    <%= form_for(@advertisement) do |f| %>
      <% if @advertisement.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@advertisement.errors.count, "error") %> prohibited this advertisement from being saved:</h2>

          <ul>
          <% @advertisement.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="form-group">
        <%= f.label :title %><br>
        <%= f.text_field :title, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :content %><br>
        <%= f.text_area :content, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :link_text %><br>
        <%= f.text_field :link_text, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :link %><br>
        <%= f.text_field :link, class: "form-control" %>
      </div>
      <div class="actions">
        <%= f.submit "Submit", class: "btn btn-primary" %>
        <%= link_to 'Back', advertisements_path, class: "btn btn-white" %>
      </div>
    <% end %>
  </div>
</div>
