<div class="row wrapper page-heading m-b-lg">
  <div class="container">
    <div class="col-lg-12">
      <h2>Edit Advertisement</h2>
    </div>
  </div>
</div>
  <div class="container">
		<%= render 'form' %>
</div>
