<div class="row wrapper page-heading m-b-lg">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2>Advertisements</h2>
      </div>
    </div>
  </div>
</div>
  <div class="container">
  <div class="row">
    <div class="col-md-12">
      
      <%= render 'admin/menu' %>

    </div>
  </div>
  </div>
<div class="container">
  <div class="col-md-3">
    <div class="ibox float-e-margins">
      <div class="ibox-content user-panel">
        <h3>New Advertisement</h3>
        <div id="new_ad_form">
        <%= form_for(@advertisement) do |f| %>
          <% if @advertisement.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@advertisement.errors.count, "error") %> prohibited this advertisement from being saved:</h2>

              <ul>
              <% @advertisement.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
              </ul>
            </div>
          <% end %>

          <div class="form-group">
            <%= f.label :title %><br>
            <%= f.text_field :title, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.label :content %><br>
            <%= f.text_area :content, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.label :link_text %><br>
            <%= f.text_field :link_text, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.label :link %><br>
            <%= f.text_field :link, class: "form-control" %>
          </div>
          <div class="actions">
            <%= f.submit "Submit", class: "btn btn-primary" %>
          </div>
        <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-9">
        <h3>Current Advertisements</h3>
        <div id="container_ads" class="row">
          <%= render @advertisements %>
        </div>
      </div>
    </div>
