<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @advertisement.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @advertisement.content %>
</p>

<p>
  <strong>Link text:</strong>
  <%= @advertisement.link_text %>
</p>

<p>
  <strong>Link:</strong>
  <%= @advertisement.link %>
</p>

<%= link_to 'Edit', edit_advertisement_path(@advertisement) %> |
<%= link_to 'Back', advertisements_path %>
