$('.js-accept-friendship-btn').bind('ajax:success', function() {
 $('.action-button-for-<%= @user.id %>').html('<%= j action_buttons(@user) %>');
 $('.js-people-link').html('<%= link_to users_path do %>People<% if request_count > 0 %><span class="badge badge-red"><%= request_count %></span><% end %><% end %>');
 $('.js-accept-friendship-btn').unbind();
});

$('.js-profile-accept-friendship-btn').bind('ajax:success', function() {
 $('.action-button-for-<%= @user.id %>').html('<%= j action_buttons_profile(@user) %>');
 $('.js-people-link').html('<%= link_to users_path do %>People<% if request_count > 0 %><span class="badge badge-red"><%= request_count %></span><% end %><% end %>');
 $('.js-accept-friendship-btn').unbind();
});

toastr.options = {
	closeButton: true,
  progressBar: true,
  showMethod: 'slideDown',
  timeOut: 3000
};
toastr.success('','Friendship Accepted!');
