$('.js-not-friend-btn').bind('ajax:success', function() {
 $('.action-button-for-<%= @user.id %>').html('<%= j action_buttons(@user) %>');
 $('.js-pending-count').html('<%= @pending_count %>');
 $('.js-not-friend-btn').unbind();
});

$('.js-profile-not-friend-btn').bind('ajax:success', function() {
 $('.action-button-for-<%= @user.id %>').html('<%= j action_buttons_profile(@user) %>');
 $('.js-pending-count').html('<%= @pending_count %>');
 $('.js-not-friend-btn').unbind();
});

toastr.options = {
	closeButton: true,
  progressBar: true,
  showMethod: 'slideDown',
  preventDuplicates: true,
  timeOut: 3000
};
//toastr.options.preventDuplicates = true;
toastr.success('','Friendship Requested!');
