$('.js-cancel-request-btn').bind('ajax:success', function() {
 $('.action-button-for-<%= @user.id %>').html('<%= j action_buttons(@user) %>');
 $('.js-pending-count').html('<%= @pending_count %>');
 $('.js-cancel-request-btn').unbind();

toastr.options = {
	closeButton: true,
  progressBar: true,
  showMethod: 'slideDown',
  preventDuplicates: true,
  timeOut: 3000
};
toastr.options.preventDuplicates = true;
toastr.success('','Request Cancelled');

});

$('.js-profile-cancel-request-btn').bind('ajax:success', function() {
 $('.action-button-for-<%= @user.id %>').html('<%= j action_buttons_profile(@user) %>');
 $('.js-pending-count').html('<%= @pending_count %>');
 $('.js-cancel-request-btn').unbind();

toastr.options = {
  closeButton: true,
  progressBar: true,
  showMethod: 'slideDown',
  preventDuplicates: true,
  timeOut: 3000
};
toastr.options.preventDuplicates = true;
toastr.success('','Request Cancelled');

});

$('.js-cancel-friendship-btn').bind('ajax:success', function() {
 $('.action-button-for-<%= @user.id %>').html('<%= j action_buttons(@user) %>');
 $('.js-cancel-friendship-btn').unbind();
toastr.options = {
	closeButton: true,
  progressBar: true,
  showMethod: 'slideDown',
  timeOut: 3000
};
toastr.options.preventDuplicates = true;
toastr.success('','Friendship Removed');

});

$('.js-profile-cancel-friendship-btn').bind('ajax:success', function() {
 $('.action-button-for-<%= @user.id %>').html('<%= j action_buttons_profile(@user) %>');
 $('.js-cancel-friendship-btn').unbind();
toastr.options = {
  closeButton: true,
  progressBar: true,
  showMethod: 'slideDown',
  timeOut: 3000
};
toastr.options.preventDuplicates = true;
toastr.success('','Friendship Removed');

});

$('.js-decline-friendship-btn').bind('ajax:success', function() {
 $('.action-button-for-<%= @user.id %>').html('<%= j action_buttons(@user) %>');
 $('.js-request-count').html('<%= @request_count %>');
 $('.js-people-link').html('<%= link_to users_path do %>People<% if request_count > 0 %><span class="badge badge-red"><%= request_count %></span><% end %><% end %>');
 $('.js-decline-btn').unbind();

	toastr.options = {
	closeButton: true,
  progressBar: true,
  showMethod: 'slideDown',
  timeOut: 3000
	};
	toastr.options.preventDuplicates = true;
	toastr.success('','Friendship Declined');

});

$('.js-profile-decline-friendship-btn').bind('ajax:success', function() {
 $('.action-button-for-<%= @user.id %>').html('<%= j action_buttons_profile(@user) %>');
 $('.js-request-count').html('<%= @request_count %>');
 $('.js-people-link').html('<%= link_to users_path do %>People<% if request_count > 0 %><span class="badge badge-red"><%= request_count %></span><% end %><% end %>');
 $('.js-decline-btn').unbind();

  toastr.options = {
  closeButton: true,
  progressBar: true,
  showMethod: 'slideDown',
  timeOut: 3000
  };
  toastr.options.preventDuplicates = true;
  toastr.success('','Friendship Declined');

});
