<div class="row wrapper page-heading m-b-lg">
  <div class="container">
    <div class="col-lg-12">
      <h2>Blocked</h2>
    </div>
  </div>
</div>
<div class="container">
	<div class="row">
		<div class="ibox">
			<div class="ibox-content">
				This user account has been blocked.
			</div>
		</div>
	</div>
</div>
