<div class="row wrapper page-heading m-b-lg">
  <div class="container">
  	<div class="row">
	    <div class="col-lg-12">
	      <h2>Frequent Questions</h2>
	    </div>
	   </div>
  </div>
</div>
<div class="container">
	<div class="row m-t-sm">
		<div class="col-sm-3">
			<div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>Question Categories</h5>
        </div>
        <div class="ibox-content no-side-borders">
        	<p class="m-t-none"><a href="#account">Your Account</a></p>
          <p class="m-t-none"><a href="#friendships">Friendships</a></p>
          <p class="m-t-none"><a href="#groups">Groups</a></p>
          <p class="m-t-none"><a href="#groups">Private Messages</a></p>
        </div>
      </div>
      <div class="ibox float-e-margins">
	      <div class="ibox-content no-side-borders">
  	    	Have a question you did not see an answer to? <%= link_to "Contact Us", contact_path %>
    		</div>
      </div>
		</div>
		<div class="col-sm-9">
			<h4 id="account" class="m-t-none text-blue">Your Account</h4>
			<p class="m-b-md"><strong>Why can't I sign up with my Facebook or Twitter account?</strong><br />
			Allowing Facebook or Twitter signup would open up the possibility that what you post here could end up in their database someday. We take your privacy very seriously and know that prayer requests can be very personal in nature. What you post here stays here.
			</p>
			<p class="m-b-md"><strong>Why do you offer paid memberships?</strong><br />
			Developing and running a social networking site takes money. There are servers, domains, SSL certificates etc. to pay for. We also desire to continue to develop new features and market the site so more people can connect for the purpose of praying for each other. Other than the text ads in the left column there is no marketing on the site.
			</p>
			<p class="m-b-md"><strong>How do I delete my account?</strong><br />
			While you are logged in, visit your Edit Profile page. At the bottom you will find the red Delete My Account button. If you are a supporting member you will need to cancel your subscription before you can delete your account.
			</p>
			<h4 id="friendships" class="m-t-lg text-blue">Friendships</h4>
			<p class="m-b-md"><strong>What is the Email Notify feature?</strong><br />
			With each friendship you can choose whether or not you want to get an email every time your friend posts on the site. You can turn this feature On or Off at any time for any friend. If you are in a group you can also choose to be notified by email when anyone posts to that group.
			</p>
			<h4 id="groups" class="m-t-lg text-blue">Groups</h4>
			<p class="m-b-md"><strong>What's the difference between a Public and a Private group?</strong><br />
			A group administrator must approve a "Group Join" request before you can be active in a private group. In all groups a Group Administrator or Group Moderator can remove offensive posts or block members who are abusive to the group.
			</p>
			<h4 id="groups" class="m-t-lg text-blue">Private Messages</h4>
			<p class="m-b-md"><strong>Why don't some of my friends have a "Message Me" button on their profile page?</strong><br />
			Every member has the option in their Edit Profile settings to turn this option On or Off. Your friend has turned Off that feature.
			</p>
			<p>
		</div>
	</div>
</div>
