<section class="row home-page-heading">
	<div class="container">
		<div class="row">
			<div class="col-md-7">
				<h1 class="m-t-none hidden-xs hidden-sm">Co<strong>Prayers</strong></h1>
				<h2 class="visible-xs visible-sm text-center">Co<span>Prayers</span></h2>
				<span class="visible-xs visible-sm text-center" style="font-weight: normal; letter-spacing: .08em; font-size: 15px;">Connecting Christians for Prayer & Praise.</span>
				<span class="title-slider-small hidden-xs hidden-sm" style="font-weight: normal; letter-spacing: .08em; font-size: 15px;">
					Connecting Christians for Prayer & Praise.<br />
					<button id="botPress" class="btn btn-white text-blue m-t-md">Play Short Promo Video <i class="fa fa-play-circle fa-fw text-green"></i></button>
				</span>
			</div>
			<div class="col-md-5">

			</div>
		</div>
	</section>
	<section>
		<div class="container">
			<div class="row">
				<div class="col-md-5 col-md-push-7">
					<div class="sign-in-area">
						<div class="devise-form">
							<div class="form-heading">
								<h3 class="header p-t-none p-b-none">Join The Community Today</h3>
								<hr>
							</div>
							<div class="form-body">
								<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), html: {class: "form"}) do |f| %>
								<%= devise_error_messages! %>
								<div class="row">
									<div class="col-sm-6">
										<%= f.text_field :first_name, class: "input-block-level", placeholder: "First Name" %>
									</div>
									<div class="col-sm-6">
										<%= f.text_field :last_name, class: "input-block-level", placeholder: "Last Name" %>
									</div>
								</div>
								<div class="row">
									<div class="col-sm-12">
										<%= f.text_field :username, class: "input-block-level", placeholder: "Username" %>
									</div>
								</div>
								<div class="row">
									<div class="col-sm-12">
										<%= f.email_field :email, class: "input-block-level", placeholder: "Email Address" %>
									</div>
								</div>
								<div class="row">
									<div class="col-sm-12">
										<%= f.password_field :password, class: "input-block-level estimate-password m-b-none password_in_form", placeholder: "Password (8 character min.)" %>
										<div id="bar">
								      <span id="s0" class="cell"></span>
								      <span id="s1" class="cell"></span>
								      <span id="s2" class="cell"></span>
								      <span id="s3" class="cell"></span>
								      <span id="s4" class="cell"></span>
								      <span id="strength-text"></span>
								    </div>
								    
									</div>
								</div>
								<p class="highlight">
									By clicking Join Now I agree to the <%= link_to 'Terms of Service', terms_path %> and <%= link_to 'Privacy Policy', privacy_path %>
									.
								</p>
							</div>
							<div class="form-footer">
								<%= f.button "Join Now", :type => "submit", :class => "btn btn-primary btn-lg btn-block", data: {disable_with: "<i class='fa fa-fw fa-spinner fa-spin'></i> Signing Up..."} %>
								<% end %>
								<p class="m-t-md">Already a community member? <%= link_to "Sign In", new_session_path(resource_name) %></p>
							</div>
						</div>
					</div>
					<span class="visible-xs visible-sm">
						<button id="botPress2" class="btn btn-gold btn-lg btn-block m-t-md">Play Short Promo Video <i class="fa fa-play-circle fa-fw"></i></button>
					</span>
				</div>

				<div class="col-md-7 col-md-pull-5">
					<div class="info-area m-t-lg">
						<h3 class="text-blue">Welcome to CoPrayers!</h3>
						<p>Everything about this site is designed to help you pray for others and let them pray for you.</p>
						<ul>
							<li>Create Friendships on the site to connect for prayer</li>
							<li>Post your own Prayer Requests and Praise Reports</li>
							<li>Create a Private or Public prayer group for others to join</li>
							<li>Mark Prayer Requests as "Prayed For"</li>
							<li>Send Private Messages to friends</li>
						</ul>
					</div>
					<div class="info-area m-t-lg">
					 <h3 class="text-blue">About This Site</h3>
					 <p>In this fast-paced world it is sometimes difficult to connect with family and friends. Our desire is to give Christians a place to connect for the purpose of praying for one another and encouraging each other with praise reports.</p>
					</div>
					<div class="info-area m-t-lg">
						<% if @users.count == 16 %>
						<h3 class="text-blue">Some of our newest members</h3>
						<% @users.each do |user| %>
							<%= image_tag(user.avatar_url(:friendship), class: 'home-users img-circle grey-border') %>
						<% end %>
					<% end %>
					</div>
				</div>
			</div>
		</div>
	</section>

<script type="text/javascript">
	$('.password_in_form').hideShowPassword(false, true);
	$('#user_password').hideShowPassword(false, true);

		$("#botPress").on("click",function(){
			$.MetroModal({
					width: "900px",
					height: "507px",
					vimeo: "137679350",
					controls: false,
				});

		});

		$("#botPress2").on("click",function(){
			$.MetroModal({
					width: "900px",
					height: "507px",
					vimeo: "137679350",
					controls: false,
				});

		});
	</script>

	<script type="text/javascript" language="javascript">
var pw_field = document.querySelector('.password_in_form')

function switchOffAllCells() {
  switchOffCell(0);
  switchOffCell(1);
  switchOffCell(2);
  switchOffCell(3);
  switchOffCell(4);
}

function indicateStrength(str) {
  text = document.getElementById("strength-text");
  text.innerHTML = str;
}

function switchOffCell(number) {
  var cell = document.getElementById('s' + number);
  cell.className = 'cell';
}

function switchOnCell(number) {
  var cell = document.getElementById('s' + number);
  cell.className = 'cell on';
}

pw_field.onkeyup = function() {
  var result = zxcvbn(pw_field.value);
  var score = result.score;

  switchOffAllCells();

  switch(score)
  {
    case 0:
      switchOnCell(0);
      indicateStrength("Very weak");
      break;
    case 1:
      switchOnCell(0);
      switchOnCell(1);
      indicateStrength("Weak");
      break;
    case 2:
      switchOnCell(0);
      switchOnCell(1);
      switchOnCell(2);
      indicateStrength("Adequate");
      break;
    case 3:
      switchOnCell(0);
      switchOnCell(1);
      switchOnCell(2);
      switchOnCell(3);
      indicateStrength("Pretty good");
      break;
    case 4: 
      switchOnCell(0);
      switchOnCell(1);
      switchOnCell(2);
      switchOnCell(3);
      switchOnCell(4);
      indicateStrength("Excellent");
      break;
    default:
      switchOnCell(0);
  }
}



</script>

