<div class="row wrapper page-heading m-b-lg">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2>Become a Community Supporter</h2>
      </div>
    </div>
  </div>
</div>
<div class="container">
	<div class="row">
		<div class="col-md-6">
			<h3 class="m-t-none">CoPrayers runs on the generocity of members like you.</h3>
      <p>Take your commitment to CoPrayers to the next level and become a community supporter. Enjoy all of the benefits of socializing with other Christians and sharing your prayer requests, while knowing that you are giving back to this community.</p>
<p>
  <strong>Your monthly contribution will go towards:</strong>
  <ul style="padding-left: 0; list-style-type: none; list-style-position: inside;">
    <li><i class="fa fa-check fa-fw text-green"></i> Keeping the servers running</li>
    <li><i class="fa fa-check fa-fw text-green"></i> Future feature development</li>
    <li><i class="fa fa-check fa-fw text-green"></i> Attracting more users</li>
  </ul>
</p>
<p>
  <strong>As a small thank you, you will receive these additional benefits:</strong>
  <ul style="padding-left: 0; list-style-type: none; list-style-position: outside;">
    <li><i class="fa fa-check fa-fw text-green"></i> 200 Extra Characters for your posts</li>
    <li><i class="fa fa-check fa-fw text-green"></i> Ads in the left column are removed</li>
    <li><i class="fa fa-check fa-fw text-green"></i> "Community Supporter" badge on your profile page</li>
    <li><i class="fa fa-check fa-fw text-green"></i> Create and/or administrate more groups</li>
  </ul>
</p>

<p>All of us here at CoPrayers thank you for your support. CoPrayers could not exist without you!</p>

		</div>
		<div class="col-md-6">
    <% if @user.subscribed == false %>
      <div class="row">
        <div class="col-md-6">
        <div class="ibox float-e-margins">
          <div class="ibox-content user-panel">
          <h3 class="text-center support-title">Individuals</h3>
          <hr />
            <p>Individuals can support the site with a very small subsciption and get some extra features.</p>
          <hr />
            <strong>Get these extras:</strong>
            <ul class="support-list">
              <li>200 Extra Characters for your posts</li>
              <li>Ads in the left column are removed</li>
              <li>"Community Supporter" badge on your profile page, showing you support online prayer.</li>
              <li>Create and/or administrate up to <strong>3</strong> groups</li>
            </ul>
          <hr />
              <%# Individual Subscribers Form %>
            <%= form_tag charge_individual_path, id:'IndividualChargeForm' do %>
              <script src="https://checkout.stripe.com/checkout.js"></script>
              <%= hidden_field_tag 'stripeToken1' %>
              <%= hidden_field_tag 'stripeEmail1' %>
              <button id='ind-btn-buy' type='button' class="btn btn-primary btn-block btn-lg">$2.50 per month</button>
              
              <script>
                var ind_handler = StripeCheckout.configure({
                  key: '<%= Rails.configuration.stripe[:publishable_key] %>',
                  token: function(token, arg) {
                    document.getElementById("stripeToken1").value = token.id;
                    document.getElementById("stripeEmail1").value = token.email;
                    document.getElementById("IndividualChargeForm").submit();
                  }
                });

                document.getElementById('ind-btn-buy').
                addEventListener('click', function(e) {
                  ind_handler.open({
                    name: 'CoPrayers Supporter',
                    description: 'Subscription ($2.50 per month)',
                    amount: 250
                  });
                  e.preventDefault();
                });
              </script>
            <% end %>
            <h4 class="text-center">Or</h4>
            <%# Individual Annual Subscribers Form %>
            <%= form_tag charge_individual_annual_path, id:'IndividualAnnualChargeForm' do %>
              <%= hidden_field_tag 'stripeToken2' %>
              <%= hidden_field_tag 'stripeEmail2' %>
              <button id='ind-ann-btn-buy' type='button' class="btn btn-primary btn-block btn-lg">$19.00 per year</button>
              
              <script>
                var ind_ann_handler = StripeCheckout.configure({
                  key: '<%= Rails.configuration.stripe[:publishable_key] %>',
                  token: function(token, arg) {
                    document.getElementById("stripeToken2").value = token.id;
                    document.getElementById("stripeEmail2").value = token.email;
                    document.getElementById("IndividualAnnualChargeForm").submit();
                  }
                });

                document.getElementById('ind-ann-btn-buy').
                addEventListener('click', function(e) {
                  ind_ann_handler.open({
                    name: 'CoPrayers Supporter',
                    description: 'Subscription ($19.00 per year)',
                    amount: 1900
                  });
                  e.preventDefault();
                });
              </script>
            <% end %>
            </div>
            </div>

        </div>
        <div class="col-md-6">
          <div class="ibox float-e-margins">
            <div class="ibox-content user-panel"> 
              <h3 class="text-center support-title">Organizations</h3>
              <hr />
                <p>If you represent an organization, church or ministry, please support this site at the organization level.</p>
              <hr />
              <strong>Get these extras:</strong>
                <ul class="support-list">
                  <li>200 Extra Characters for your posts</li>
                  <li>Ads in the left column are removed</li>
                  <li>"Community Supporter" badge on your profile page, showing you support online prayer.</li>
                  <li>Create and/or administrate up to <strong>20</strong> groups</li>
                </ul>
              <hr />

            <%# Organizational Subscribers Form %>
            <%= form_tag charge_organization_path, id:'OrganizationChargeForm' do %>
              <%= hidden_field_tag 'stripeToken3' %>
              <%= hidden_field_tag 'stripeEmail3' %>
              <button id='org-btn-buy' type='button' class="btn btn-primary btn-block btn-lg">$9.00 per month</button>
              
              <script>
                var org_handler = StripeCheckout.configure({
                  key: '<%= Rails.configuration.stripe[:publishable_key] %>',
                  token: function(token, arg) {
                    document.getElementById("stripeToken3").value = token.id;
                    document.getElementById("stripeEmail3").value = token.email;
                    document.getElementById("OrganizationChargeForm").submit();
                  }
                });

                document.getElementById('org-btn-buy').
                addEventListener('click', function(e) {
                  org_handler.open({
                    name: 'Organizational Supporter',
                    description: 'Subscription ($9.00 per month)',
                    amount: 900
                  });
                  e.preventDefault();
                });
              </script>
            <% end %>
            <h4 class="text-center">Or</h4>

            <%# Organizational Annual Subscribers Form %>
            <%= form_tag charge_organization_annual_path, id:'OrganizationAnnualChargeForm' do %>
              <%= hidden_field_tag 'stripeToken4' %>
              <%= hidden_field_tag 'stripeEmail4' %>
              <button id='org-ann-btn-buy' type='button' class="btn btn-primary btn-block btn-lg">$89.00 per year</button>
              
              <script>
                var org_ann_handler = StripeCheckout.configure({
                  key: '<%= Rails.configuration.stripe[:publishable_key] %>',
                  token: function(token, arg) {
                    document.getElementById("stripeToken4").value = token.id;
                    document.getElementById("stripeEmail4").value = token.email;
                    document.getElementById("OrganizationAnnualChargeForm").submit();
                  }
                });

                document.getElementById('org-ann-btn-buy').
                addEventListener('click', function(e) {
                  org_ann_handler.open({
                    name: 'Organizational Supporter',
                    description: 'Subscription ($89.00 per year)',
                    amount: 8900
                  });
                  e.preventDefault();
                });
              </script>
            <% end %>
               </div>
              </div>
            </div>
          </div>

    <% end %>
    <% if @user.subscribed == true %>
		<div class="ibox float-e-margins">
  		<div class="ibox-content no-side-borders">
  			<h2>Thank You!</h2>
  	     <h4>You are
          <% if @user.subscription_plan == "Organization_Monthly" %>
            a Monthly Organizational Supporter.
          <% elsif @user.subscription_plan == "Organization_Annual"%>
            an Annual Organizational Supporter.
          <% elsif @user.subscription_plan == "Individual_Monthly"%>
            a Monthly Individual Supporter.
          <% elsif @user.subscription_plan == "Individual_Annual"%>
            an Annual Individual Supporter.
        <% end %>
        </h4>
        <% if @user.subscription_plan == "Individual_Monthly" || @user.subscription_plan == "Individual_Annual" %>
          <p>Individual supporters like you make it possible for this community to thrive so that Christians around the world can connect to lift each other up in prayer.</p>
          <p>As a small "Thank You" you get these extra features:
          <ul>
            <li>800 Characters for your posts, instead of the regular 600</li>
            <li>The advertising in the left column is removed</li>
            <li>You can create and administrate up to 3 groups</li>
            <li>A Community Supporter badge on your profile telling people you support online prayer.</li>
          </ul>
          </p>
          <p>If at any time you want to cancel your subscription simply come back to this page and click the button below.</p>
        <% else %>
          <p>Organizational supporters like you make it possible for this community to thrive so that Christians around the world can connect to lift each other up in prayer.</p>
          <p>As a small "Thank You" you get these extra features:
          <ul>
            <li>800 Characters for your posts, instead of the regular 600</li>
            <li>The advertising in the left column is removed</li>
            <li>You can create and administrate up to 20 groups</li>
            <li>A Community Supporter badge on your profile telling people you support online prayer.</li>
          </ul>
          </p>
          <p>If at any time you want to cancel your subscription simply come back to this page and click the button below.</p>
        <% end %>

  				<%= link_to "Please Cancel My Subsciption", charge_cancel_path(current_user), method: :delete, class: "btn btn-gold" %>
  			
			</div>
		</div>
    <% end %>
	</div>
</div>

