<div class="row wrapper page-heading m-b-lg">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<h2>Welcome!</h2>
			</div>
		</div>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<div class="ibox float-e-margins m-t-md">
				<div class="ibox-content no-side-borders">
					<h3>Welcome to CoPrayers.</h3>
					<p>In a few moments you will receive a confirmation email at the 
					address you provided. Click on the activation link in that email 
					to get started. You may need to check your spam folder.</p>
					<p>After you sign in be sure to check out your <strong>
					edit profile</strong> page and tweak your settings to how you 
					would like to interact with the site.</p>
					<p>If there is anything we can do to make your experience better
					please let us know by using the Contact Us link that is at the bottom
					of every page.</p>
					<p>See you inside!</p>
					<p><strong>The CoPrayers Team</strong></p>
				</div>
			</div>
		</div>
	</div>
</div>
