<div class="row wrapper page-heading m-b-lg">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2>404 Error - Page Not Found</h2>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
  	<div class="four-o-four-text">Opps...</div>
  	<div class="four-o-four-byline">Looks like the page you are looking for does not exist.</div>
  	<div class="four-o-four-byline">
  		<% if current_user %>
				<a href="/">Click here to go to your Timeline.</a>
  		<% else %>
  			<a href="/">Click here to go home.</a>
  		<% end %>
  	</div>
  </div>
</div>
