$('.js-not-subscribed-btn').bind('ajax:success', function() {
 $('#js-subscription-btns-for-<%= @user.id %>').html('<%= link_to subscription_path(current_user.get_subscription(@user)), method: :delete, :remote => true, class: "js-subscribed-btn btn btn-white btn-sm m-l-sm" do %> <i class="fa fa-check-square-o fa-fw" style="color: #659E41;"></i> Email Me On <% end %>');
 $('.js-not-subscribed-btn').unbind();

toastr.options = {
	closeButton: true,
  progressBar: true,
  showMethod: 'slideDown',
  preventDuplicates: true,
  timeOut: 3000
};
//toastr.options.preventDuplicates = true;
toastr.success('','Email Notification Turned On.');

});
