$('.js-subscribed-btn').bind('ajax:success', function() {
 $('#js-subscription-btns-for-<%= @user.id %>').html('<%= link_to subscriptions_path(subscribe_to_id: @user), method: :post, :remote => true, class: "js-not-subscribed-btn btn btn-white btn-sm m-l-sm" do %><i class="fa fa-square-o fa-fw"></i> Email Me Off<% end %>');
 $('.js-subscribed-btn').unbind();

toastr.options = {
	closeButton: true,
  progressBar: true,
  showMethod: 'slideDown',
  preventDuplicates: true,
  timeOut: 3000
};
//toastr.options.preventDuplicates = true;
toastr.success('','Email Notification Turned Off.');

});
