<div class="row wrapper border-bottom page-heading m-b-lg">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2>Sign In</h2>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-4 col-md-push-4">
      <div class="devise-form">
        <div class="form-heading">
          <h3 class="header p-t-none p-b-none">Sign In</h3>
          <hr>
        </div>
        <div class="form-body">
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="field">
              <%= f.email_field :email, autofocus: true, class: "input-block-level", placeholder: "Email" %>
            </div>

            <div class="field">
              <%= f.password_field :password, autocomplete: "off", class: "input-block-level password_in_form", placeholder: "Password" %>
            </div>

            <% if devise_mapping.rememberable? -%>
              <div class="field">
                <%= f.check_box :remember_me %>
                <%= f.label :remember_me %>
              </div>
            <% end -%>
        </div>
        <div class="form-footer">
          <%= f.button "Sign In", class: "btn btn-block btn-primary btn-lg", data: {disable_with: "<i class='fa fa-fw fa-spinner fa-spin'></i> Signing In"} %>
        </div>
          <% end %>
      </div>
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>

<script type="text/javascript">
  $('.password_in_form').hideShowPassword(false, true);
</script>

