<%= form_tag subscribers_path do %>
  <article>
    <label class="amount">
      <span>Amount: $2.50</span>
    </label>
  </article>

  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-description="A month's subscription"
          data-amount="250"
          data-locale="auto"></script>
<% end %>


