<% if current_user.subscribed == true %>
<%# Community supporter, so 800 characters per post %>
	<div id="js-add-post-form" class="ibox float-e-margins">
	<div class="ibox-title">
		<h5>Create A Post</h5>
	   <span class="pull-right"><div class="grey-text" id="charNum">800 characters left</div>
	</span>
	</div>
	  <div class="ibox-content form-panel">
			<%= form_for(@post) do |f| %>
				<%= render 'partials/error_messages', object: f.object %>
				<div class="form-group">
					<%= f.text_area :content, placeholder: "Compose new post...", :rows => "4", class: "form-control post-content", id: "field",  maxlength: "800" %>
				</div>
				<div class="row">
					<div class="col-sm-6">
						<div class="form-group">
							<%= f.select :post_type, [['Prayer Request', 'prayer'],['Praise Report', 'praise']], {}, {class: "form-control post-type"}  %>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="form-group">
							<a id="js-cancel-post-button" class="btn btn-white m-l-sm pull-right">Cancel</a>
							<%= f.button "Submit Post", class: "btn btn-primary pull-right", data: {disable_with: "<i class='fa fa-fw fa-spinner fa-spin'></i> Posting"} %>
						</div>
					</div>
				</div>
			<% end %>
		</div>
	</div>
	<script>
	$('#field').keyup(function () {
	  var max = 800;
	  var len = $(this).val().length;
	  if (len >= max) {
	    $('#charNum').html('<span style="color: #F00;">0 characters left</span>');
	  } else {
	    var char = max - len;
	    $('#charNum').text(char + ' characters left');
	  };
	});
	  </script>
<% else %>
	<%# Not a community supporter, so only 600 characters per post %>
	<div id="js-add-post-form" class="ibox float-e-margins">
	<div class="ibox-title">
		<h5>Create A Post</h5>
	   <span class="pull-right"><div class="grey-text" id="charNum">600 characters left</div>
	</span>
	</div>
	  <div class="ibox-content form-panel">
			<%= form_for(@post) do |f| %>
				<%= render 'partials/error_messages', object: f.object %>
				<div class="form-group">
					<%= f.text_area :content, placeholder: "Compose new post...", :rows => "4", class: "form-control post-content", id: "field",  maxlength: "600" %>
				</div>
				<div class="row">
					<div class="col-sm-6">
						<div class="form-group">
							<%= f.select :post_type, [['Prayer Request', 'prayer'],['Praise Report', 'praise']], {}, {class: "form-control post-type"}  %>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="form-group">
							<a id="js-cancel-post-button" class="btn btn-white m-l-sm pull-right">Cancel</a>
							<%= f.button "Submit Post", class: "btn btn-primary pull-right", data: {disable_with: "<i class='fa fa-fw fa-spinner fa-spin'></i> Posting"} %>
						</div>
					</div>
				</div>
			<% end %>
		</div>
	</div>
	<script>
	$('#field').keyup(function () {
	  var max = 600;
	  var len = $(this).val().length;
	  if (len >= max) {
	    $('#charNum').html('<span style="color: #F00;">0 characters left</span>');
	  } else {
	    var char = max - len;
	    $('#charNum').text(char + ' characters left');
	  };
	});
	  </script>
<% end %>
