<div id="post-<%= post.id %>" class="social-feed-box">
	<% if post.user == current_user %>
		<%# Poster Is Current User %>
		<div class="pull-right dropdown">
			<button class="dropdown-toggle btn-white" data-toggle="dropdown" aria-expanded="false">
				<i class="fa fa-angle-down"></i>
			</button>
			<ul class="dropdown-menu m-t-xs">
				<li>
					<%= link_to edit_post_path(post) do %>
						<i class="fa fa-pencil-square-o fa-fw"></i> Edit Post
					<% end %>
				</li>
				<li>
					<%= link_to post_path(post), method: :delete, data: { confirm: 'Are you sure you want to delete this post?', :'confirm-button-text' => 'Delete', :'cancel-button-text' => 'Cancel', :'confirm-button-color' => '#EFA039'} do %>
						<i class="fa fa-trash-o fa-fw"></i> Delete Post
					<% end %>
				</li>
			</ul>
		</div>
	<% else %>
		<%# Poster Is NOT Current User %>
		<% if current_user.voted_for? post %>
			<div class="pull-right">
				<span class="btn-prayed-for btn-circle" data-toggle="tooltip" data-placement="left" title="You've already prayed for this">
					<i class="fa fa-heart fa-fw"></i>
				</span>
			</div>
	  <% else %>
			<div class="pull-right btn-prayed-for-<%= post.id %>">
				<%= link_to prayed_post_path(post), :remote => true, method: :put, class: 'js-not-prayed-btn' do %>
						<span class="btn-pray-for btn-circle" data-toggle="tooltip" data-placement="left" title='Mark this post "Prayed For"'>
							<i class="fa fa-heart fa-fw" ></i>
						</span>
				<% end %>
			</div>
		<% end %>
		<div class="pull-right">
		<% if post.user.private_message_system_on && current_user.private_message_system_on %>
			<%= link_to conversations_path(sender_id: current_user.id, recipient_id: post.user.id), method: 'post' do %>
			<span class="btn-message-member btn-circle m-r-sm" data-toggle="tooltip" data-placement="left" title="Send <%= post.user.first_name %> a Private Message">
	  	<i class="fa fa-comment fa-fw"></i>
	  	</span>
			<% end %>
		<% end %>
			</div>
	<% end %>

		<div class="pull-left">
			<% if post.user.avatar.friendship.present? %>
				<%= image_tag(post.user.avatar_url(:friendship), class: "img-rounded grey-border") %>
			<% else %>
				<div class="default-friendship-icon <%= color_length(post.user.first_name.length) %>"><%= post.user.first_name.chars.first.titlecase + post.user.last_name.chars.first.titlecase %></div>
			<% end %>
		</div>
		<div class="social-body">
		
			<%= link_to user_path(post.user.username) do %>
				<strong><%= post.user.first_name.titlecase + " " + post.user.last_name.titlecase %></strong>
			<% end %>
			<br />
			<small class="text-muted">
				<% if post.post_type == 'prayer' %>
					Prayer Request
				<% else %>
					Praise Report
				<% end %>
				<span class="dash">/</span> <%= time_ago_in_words(post.created_at) %> ago <span class="dash">/</span> Prayed for <span class="prayer-count-for-<%= post.id %>"><%= pluralize(post.get_upvotes.size, 'time') %></span></small>
    

	
		<p class="m-t-xs"><%= post.content %></p>
	</div>
</div>
