$("#js-add-post-form").slideUp("slow");
$(".post-content").val('');
$(".post-type").val('prayer');
//$("#activities-container").prepend("<%= j render 'activities/activities' %>");

toastr.options = {
	closeButton: true,
  progressBar: true,
  showMethod: 'slideDown',
  timeOut: 3000,
  preventDuplicates: true
};
toastr.success('','Post Created!');
