<div class="row wrapper page-heading m-b-lg">
	<div class="container">
		<div class="col-lg-12">
			<h2>Edit Post</h2>
		</div>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-md-3">
   		<%= render 'partials/box_user' %> 
		</div>
		<div class="col-md-9">
<div id="js-add-post-form" class="ibox float-e-margins">
<div class="ibox-title">
	<h5>Edit Post</h5>
   <span class="pull-right"><div class="grey-text" id="charNum"></div>
</span>
</div>
  <div class="ibox-content form-panel">
		<%= form_for(@post) do |f| %>
			<%= render 'partials/error_messages', object: f.object %>
			<div class="form-group">
				<%= f.text_area :content, placeholder: "Compose new post...", :rows => "4", class: "form-control post-content", id: "field",  maxlength: "600" %>
			</div>
			<div class="row">
				<div class="col-sm-6">
					<div class="form-group">
						<%= f.select :post_type, [['Prayer Request', 'prayer'],['Praise Report', 'praise']], {}, {class: "form-control post-type"}  %>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="form-group">
						<%= link_to "Cancel", activities_path, class: "btn btn-white m-l-sm pull-right" %>
						<%= f.button "Submit Post", class: "btn btn-primary pull-right", data: {disable_with: "<i class='fa fa-fw fa-spinner fa-spin'></i> Posting"} %>
					</div>
				</div>
			</div>
		<% end %>
	</div>
</div>


		</div>
	</div>
<script>
$('#field').keyup(function () {
  var max = 600;
  var len = $(this).val().length;
  if (len >= max) {
    $('#charNum').html('<span style="color: #F00;">0</span>');
  } else {
    var char = max - len;
    $('#charNum').text(char + ' characters left');
  };
});
  </script>
