$('.js-not-prayed-btn').bind('ajax:success', function() { 
	$('.btn-prayed-for-<%= @post.id %>').html('<span class="btn-prayed-for btn-circle"  data-toggle="tooltip" data-placement="left" title="You\'ve already prayed for this"><i class="fa fa-heart fa-fw"></i></span>');
	$('.prayer-count-for-<%= @post.id %>').html('<%= j pluralize(@post.get_upvotes.size, "time") %>');

toastr.options = {
	closeButton: true,
  progressBar: true,
  preventDuplicates: true,
  showMethod: 'slideDown',
  timeOut: 3000
};
toastr.success('','Marked as Prayed For');

});
