<div class="row wrapper page-heading m-b-lg">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2>Contact Us</h2>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-push-3">
      <div class="ibox-content form-panel">
        <div class="form-heading">
          <h3 class="header p-t-none p-b-none text-blue">Contact Us</h3>
          <hr>
        </div>
        <div class="form-body">
          <%= form_for @contact, url: contact_path do |contact_form| %>
          <fieldset>
            <div class="form-group">
              <%= contact_form.text_field :name, class: "form-control", placeholder: "Your Name *" %>
            </div>

            <div class="form-group">
              <%= contact_form.email_field :email, class: "form-control", placeholder: "Your Email *"%>
            </div>

            <div class="form-group">
            <%= contact_form.select :reason, ['Reason for contact:', 'Comment', 'Question', 'Bug Report'], {}, {class: "form-control"} %>
          </div>

            <div class="form-group">
              <%= contact_form.text_area :content, :rows => "4", id: "field", maxlength: "1000", class: "form-control", placeholder: "Message *" %>
            </div>
          </fieldset>

          <fieldset>
            <div class="form-group">
              <%= contact_form.submit "Send Message", class: "btn btn-primary" %>
              <span class="pull-right"><div class="grey-text" id="charNum">1000 characters left</div>
            </div>
          </fieldset>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  $('#field').keyup(function () {
    var max = 1000;
    var len = $(this).val().length;
    if (len >= max) {
      $('#charNum').html('<span style="color: #F00;">0 characters left</span>');
    } else {
      var char = max - len;
      $('#charNum').text(char + ' characters left');
    };
  });
    </script>
