html,
body {
  margin:0;
  padding:0;
  height:100%;
  background-color: #F2F2F2;
  color: #7B7F7F;
  font: 14px/20px Arial,Helvetica,sans-serif;
}

h1, h2, h3, h4, h5, .navbar-brand, .btn-primary, .btn-white, .btn-gold, .btn-danger, .default-friendship-icon {
  font-family: 'Ubuntu', sans-serif;
}

.mm-menu {  background: #2885A4 !important;}

#page .header a
{
  
    display: block;
    height: 36px;
    width: 76px;
    padding: 8px 10px;
    font-size: 13px;
    position: absolute;
    top: -42px;
    background: rgb(48, 145, 175);
    color: #fff;
    border-radius: 3px;
    z-index: 99999;
    right: 0;
    text-decoration: none;
}
#page .header{ padding:0px; display: inline;}
div#page {
    float: right;
    position: relative;
}

/*..... HEADER ......*/

.header{ padding: 0; background-color: #fff;}
.logo { font-size: 23px; font-family: "Ubuntu", sans-serif; color: #aaa; font-weight: 300;}
.logo a {text-decoration: none;}
.logo span {font-weight: bold; color: #00819F; transition: color 0.5s ease;}
.header .nav{ float:right; margin: 0; transition: color 0.5s ease; font: 14px/20px Arial,Helvetica,sans-serif;}
.header .nav li{ float:left; padding: 11px 0; transition: background-color 0.5s ease;} 
.header .nav li a{ color:#586464; font-size: 14px; padding:8px 20px !important; transition: color 0.5s ease;}
.header .nav li.parent:hover a{ color:#fff;}
.header .nav li.parent .submenu a{ color:#222;}
.header .nav li.parent .submenu a:hover{ color:#fff;}
.header .nav li.item-select{ color: #fff;  border-radius: 5px; padding: 11px 0;}
.header .nav li.item-select a{color: #fff;  padding:10px 24px;}
.header .nav li:hover{  border-radius: 5px;  padding: 11px 0; transition: background-color 0.5s ease;} 
.header .nav li a:hover{ color: #fff; padding:10px 24px;}

.logo-container {
  padding-top: 18px;
}

@media(max-width:992px){
  .header {
    padding: 8px 0;
  }
  .logo-container {
    padding-top: 8px;
  }
}

a:hover {
  text-decoration: none;
  color: #666;
}

a, a:visited, a:focus, a:active, a:hover{
    outline:0 none !important;
    text-decoration: none !important;
}

#wrapper {
  min-height:100%;
  position:relative;
}

#content {
  padding-bottom:100px; /* Height of the footer element */
}

footer {
  background:#ffffff;
  width:100%;
  height:50px;
  position:absolute;
  padding-top: 16px;
  bottom:0;
  left:0;
}

#page-wrapper {
  min-height: 0;
  background-color: #f00;
}

.gray-bg {
  background-color: #EAEFF2;
}

li.dropdown {
  padding-top: 11px !important;
}

.dropdown-menu > li {
  padding: 0 5px !important;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    background-color: #FFF;
    color: #95AB63;
    text-decoration: none;
}

.top-navigation .navbar-brand {
    background: none;
    color: #aaa;
    font-size: 25px;
    padding: 17px 0;
}

.navbar-static-top {
  z-index: 1 !important;
}

.top-navigation .wrapper.wrapper-content {
    padding: 20px;
}

.navbar-nav {
    font-size: 14px;
}

.navbar-brand span {
    color: #3CA2C0; 
    font-weight: bold;
}

.top-navigation .nav > li > a {
    color: #586464;
    padding: 17px 20px;
}

.top-navigation .navbar-right {
    margin-right: 0px;
}

.top-navigation .nav > li.active > a, .top-navigation .nav > li > a:hover  {
    color: #3599B7;
}

.top-navigation .nav > li a:hover, .top-navigation .nav > li a:focus {
  color: #3599B7;
}

.navbar-toggle {
    background-color: #48B1BF;
}

#new_user .form-control, {
  font-size: 14px;
  
}

#new_user .btn {
  margin-top: 1px;
}

.badge {
  background-color: #7BAD5D;
  line-height: 13px;
  padding: 2px 5px;
  margin-top: -15px;
  color: #fff;
  border-radius: 3px;
}

.badge-inline {
  background-color: #7BAD5D;
  line-height: 13px;
  margin-top: 2px;
  padding: 2px 5px;
  float: right;
  font-size: 11px;
  border-radius: 4px;
  color: #fff;
}

a.active .badge {
  background-color: #fff;
  color: #9AB26B;
}

.grey-badge {
  background-color: #eee;
  color: #777;
  margin-left: 6px;
}

.badge-white {
  background-color: #fff;
  color: #7BAD5D;
}

.page-heading {
    border-top: 0 none;
    padding: 0 0 6px;
    background-image: url(<%= image_path('coprayers/home_banner.jpg') %>);
    background-position: center;
    background-size: cover;
    background-color: #00858E;
    color: #fff;
}

.home-page-heading {
    border-top: 0 none;
    padding: 60px 0px 60px 6px;
    background-image: url(<%= image_path('coprayers/home_banner.jpg') %>);
    background-position: center;
    background-size: cover;
    background-color: #00858E;
    color: #fff;
}

.page-heading h2 {
  font-weight: 500;
  letter-spacing: .1em;
  margin-top: 14px;
  font-size: 22px;
}

@media(max-width:767px){
.page-heading h2 {
    padding-left: 20px;
    font-size: 20px;
  }
}

h3, .h3 {
    font-size: 22px;
}

a {
    color: #389DBB;
    text-decoration: none;
    transition: color 0.5s ease;
}

a:hover {
    color: #2885A4;
}

.small, small {
    font-size: 90%;
}


.btn-square {
    border-radius: 0;
}

.btn-white {
  border: 1px solid #EEE;
  color: #777;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fefefe+1,eeeeee+100 */
  background: #fefefe; /* Old browsers */
  background: -moz-linear-gradient(top,  #fefefe 1%, #eeeeee 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#fefefe), color-stop(100%,#eeeeee)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #fefefe 1%,#eeeeee 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #fefefe 1%,#eeeeee 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #fefefe 1%,#eeeeee 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #fefefe 1%,#eeeeee 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#eeeeee',GradientType=0 ); /* IE6-9 */
  transition: color 0.5s ease;
  text-shadow: 1px 1px 1px rgba(150, 150, 150, 0.3);
  font-weight: 400;
}

.btn-danger {
  color: #fff;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#d85d5b+1,d84543+100 */
  background: #d85d5b; /* Old browsers */
  background: -moz-linear-gradient(top,  #d85d5b 1%, #d84543 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#d85d5b), color-stop(100%,#d84543)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #d85d5b 1%,#d84543 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #d85d5b 1%,#d84543 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #d85d5b 1%,#d84543 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #d85d5b 1%,#d84543 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d85d5b', endColorstr='#d84543',GradientType=0 ); /* IE6-9 */
  text-shadow: 1px 1px 1px rgba(188, 60, 60, 1);
}

.btn-white:hover, .btn-white:active {
  border: 1px solid #DDD;
  background-color: #fff;
  color: #777;
}

.text-blue, .text-blue:hover {
  color: #00819F;
}

.text-green, .text-green:hover {
  color: #009166;
  font-size: 16px;
}

.no-side-borders {
    border-left: 0;
    border-bottom: 0;
    border-right: 0;
}

.btn-primary {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#83b25c+0,609b3d+100 */
  background: #00976E; /* Old browsers */
  background: -moz-linear-gradient(top,  #83b25c 0%, #609b3d 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#83b25c), color-stop(100%,#609b3d)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #83b25c 0%,#609b3d 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #83b25c 0%,#609b3d 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #83b25c 0%,#609b3d 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #83b25c 0%,#609b3d 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#83b25c', endColorstr='#609b3d',GradientType=0 ); /* IE6-9 */
  border: 1px solid #7BAD5D;
  transition: background-color 0.5s ease;
  text-shadow: 1px 1px 1px rgba(72, 132, 34, 1);
}

.btn-pray-for, .btn-message-member  {
    border: 1px solid #7BAD5D;
    background-color: #fff;
    color: #7BAD5D;
    transition: background-color 0.5s ease;
    cursor: pointer;
}

.btn-pray-for:hover, .btn-message-member:hover {
    border: 1px solid #7BAD5D;
    background-color: #7BAD5D;
    color: #fff;
    transition: background-color 0.5s ease;
}

.btn-prayed-for, .btn-prayed-for:hover {
    border: 1px solid #eee;
    background-color: #eee;
    color: #fff;
    cursor: default;
}

.btn-primary:hover, .btn-primary:active, .btn-primary:focus {
  background-color: #609B3D;
  border: 1px solid #609B3D;
}

.btn-gold {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#d6aa31+0,c19417+100 */
  background: #d6aa31; /* Old browsers */
  background: -moz-linear-gradient(top,  #d6aa31 0%, #c19417 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d6aa31), color-stop(100%,#c19417)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #d6aa31 0%,#c19417 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #d6aa31 0%,#c19417 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #d6aa31 0%,#c19417 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #d6aa31 0%,#c19417 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d6aa31', endColorstr='#c19417',GradientType=0 ); /* IE6-9 */
  color: #fff;
  transition: background-color 0.5s ease;
}

.btn-gold:hover, .btn-gold:active, .btn-gold:focus {
  background-color: #C19417;
  color: #fff;
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    background-color: #2987A6;
    border-color: #eee;
    color: #fff;
    cursor: default;
    z-index: 2;
}

.pagination > li > a, .pagination > li > span {
    float: left;
    padding: 8px 14px;
    line-height: 1.5;
    margin-left: -1px;
    position: relative;
    text-decoration: none;
    color: #2987A6;
}

/****************** User Panel ************************/

.user-panel {
    padding: 12px 14px 14px;
}

.user-panel .media-body {
    padding-left: 12px;
    min-height: 24px;
}

.media-name {
    font-size: 16px;
    font-weight: bold;
    color: #2987A6;
    margin: 0;
    line-height: 1.2em;
}

.media-counts {
    margin: none;
    padding: 10px 10px;
    background-image: url(<%= image_path('coprayers/home_banner.jpg') %>);
    background-color: #359AC6;
    background-position: center; 
    color: #fff;
}

.media-friend-count {
    display: block;
    float: left;
    text-align: center;
    width: 49%;
    border-right: 1px dotted #ACB3C3;
}

.media-post-count {
    text-align: center;
    float: left;
    width: 50%;
}

.social-avatar {
  padding: none;
}

.social-avatar .friend-body {
    font-size: 14px;
    padding-bottom: 15px;
}

.social-avatar .media-body a {
    display: block;
    font-size: 15px;
}

.social-avatar img {
  height: 62px;
  width: 62px;
  margin-right: 15px;
}

.form-panel {
    padding: 12px 14px 3px;
}

.social-body {
  margin-top: -5px;
  padding: 0 15px 0 78px;
}

.social-body a {
  font-size: 17px;
}

.social-body a:hover {
  color: #2987A6;
}

.panel-footer {
  margin: 0 -20px -22px -22px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

.edit-image-btn {
  margin-left: 60px;
  margin-top: 4px;
}

.dash {
    color: #ccc;
    padding: 0 3px;
}

.user-panel .search-body {
    padding-left: 70px;
}

.search-name {
    font-size: 13px;
    font-weight: bold;
}

.friend-photo {
    margin: 4px;
    width: 33px;
}

.no-cursor {
    cursor: default;
}

.grey-border {
    border: 1px solid #e7eaec;
}

.dark-grey-border {
    border: 1px solid #ccc;
}

.grey-text {
    color: #bbb;
}


/* Sub Nav */
.sub-nav {
  background-color: #fff;
  margin: 0;
  border-radius: 0;
  border: none none;
}

.sub-nav .navbar-right {
  margin: 2px 0 0 0;
}

.sub-nav .nav > li > a.active {
  background-color: #7BAD5D;
  color: #fff;
  transition: background-color 0.5s ease;
}

.sub-nav .nav > li > a.active:hover {
  color: #fff;
}

.sub-nav .nav > li > a:hover {
  color: #7BAD5D;
}

@media(max-width:767px){

  .sub-nav .nav > li > a {
    margin: 0 15px;
  }

}

.sub-nav > .active > a, .sub-nav .navbar-nav > .active > a:hover, .sub-nav .navbar-nav > .active > a:focus {
  background-color: #48B1BF;
  color: #fff;
}

.sub-nav .navbar-form .form-control {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    margin-right: 0px;
}

.navbar-form {
  margin: 8px 0 8px 0;
  padding: 0;
}

@media(max-width:767px){
.navbar-form {
  padding: 4px 8px;
}

  }

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #fff;
}

.form-control:focus, .single-line:focus {
  border-color: #48B1BF !important;
}

#users-search {
  margin-right: 0;
  padding-right: 0;
}

/* Toastr custom style */
#toast-container > .toast {
  background-image: none !important;
}
#toast-container > .toast:before {
  position: fixed;
  font-family: FontAwesome;
  font-size: 24px;
  line-height: 24px;
  float: left;
  color: #FFF;
  padding-right: 0.5em;
  margin: auto 0.5em auto -1.5em;
}
#toast-container > .toast-warning:before {
  content: "\f0e7";
}
#toast-container > .toast-error:before {
  content: "\f071";
}
#toast-container > .toast-info:before {
  content: "\f005";
}
#toast-container > .toast-success:before {
  content: "\f00C";
}
#toast-container > div {
  -moz-box-shadow: 0 0 3px #999;
  -webkit-box-shadow: 0 0 3px #999;
  box-shadow: 0 0 3px #999;
  opacity: 1;
  -ms-filter: alpha(opacity=100);
  filter: alpha(opacity=100);
}
#toast-container > :hover {
  -moz-box-shadow: 0 0 4px #999;
  -webkit-box-shadow: 0 0 4px #999;
  box-shadow: 0 0 4px #999;
  opacity: 1;
  -ms-filter: alpha(opacity=100);
  filter: alpha(opacity=100);
  cursor: pointer;
}
.toast {
  background-color: #1ab394;
}
.toast-success {
  background-color: #9AB26B;
}
.toast-error {
  background-color: #ed5565;
}
.toast-info {
  background-color: #23c6c8;
}
.toast-warning {
  background-color: #C39A28;
}
.toast-top-full-width {
  margin-top: 20px;
}
.toast-bottom-full-width {
  margin-bottom: 20px;
}

/* Footer */



/* Search Bar Icon */

.right-inner-addon {
    position: relative;
}
.right-inner-addon input {
    padding-right: 40px;    
}
.right-inner-addon i {
    position: absolute;
    right: 0px;
    padding: 10px 25px;
    pointer-events: none;
    color: #95AB63;
}

/* User Row */

.search-user-panel {
    padding: 0;
    margin: 0;
}

.friend-user-panel {
  padding: 0;
}

.user-row, .group-row {
  padding: 7px 0;
}

.user-row.odd, .group-row.odd {
  background-color: #fbfbfb;
}

tr.odd {
  background-color: #F9F9F9;
}

.user-row .name,  {
  padding-left: 60px;
  font-size: 14px;
  font-weight: bolder;
}
.group-row .name {
  font-size: 14px;
  font-weight: bolder;
}

.user-row .location {
  padding-left: 60px;
  margin-top: -2px;
  font-size: 11px;
  color: #677D85;
}

.group-row .location {
  margin-top: -2px;
  font-size: 11px;
  color: #677D85;
}

.home-users {
  margin: 0 5px 5px 0;
}

/* Bootstrap tooltips */
.tooltip.top .tooltip-arrow {
  bottom: 0;
  left: 50%;
  margin-left: -5px;
  border-color: #7BAD5D;
  border-width: 5px 5px 0;
}

.tooltip-inner {
  color: #fff;
  background: #7BAD5D;
  border: solid 1px #7BAD5D;
}

.tooltip.left .tooltip-arrow {
  top: 50%;
  right: 0;
  margin-top: -5px;
  border-left-color: #7BAD5D;
  border-width: 5px 0 5px 5px;
}

/* Devise Forms */

#error_explanation {
  background-color: #FFF;
  border: 1px solid #e7eaec;
  padding: 5px;
  margin-bottom: 15px;
}

#error_explanation h2 {
  font-size: 15px;
  color: #C9302C;
  padding-left: 20px;
  margin-top: 10px;
}

.devise-form {
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    margin: 0 auto 20px;
    max-width: 460px;
    color: #676a6c;
}

.devise-form form {
    margin-bottom: 0;
}

.devise-form .form-heading, .devise-form .form-footer {
    margin-bottom: 0;
    padding: 15px 35px;
}

.devise-form .form-heading hr {
    margin: 15px 0 10px;
}

.devise-form .form-heading .header {
    color: #00819F;
    margin: 10px 0 0;
    text-shadow: 0 1px 0 #fff;
    font-size: 19px;
}

.devise-form .form-body {
    padding: 0 35px;
}

.devise-form .input-block-level {
    box-sizing: border-box;
    display: block;
    min-height: 30px;
    width: 100%;
}

.devise-form .form-body input[type="text"], .devise-form .form-body input[type="email"], .devise-form .form-body input[type="password"], .devise-form .form-body .checkbox, .devise-form .form-body p.highlight {
    margin-bottom: 20px;
}
.devise-form .form-body input[type="text"], .devise-form .form-body input[type="email"], .devise-form .form-body input[type="password"] {
    background: #f6f6f6 none repeat scroll 0 0;
    border: 1px solid #bbb;
    border-radius: 2px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
    font-size: 13px;
    height: auto;
    padding: 9px 14px;
}

.devise-form .form-body input:focus {
    background: #ffffff none repeat scroll 0 0;
    border: 1px solid #48B1BF;
}

.devise-form .form-body p.highlight {
    font-size: 12px;
    margin-bottom: 0;
}

.devise-form .form-footer {
    padding-bottom: 15px;
}

/* Custom, iPhone Retina */ 
    @media only screen and (min-width : 320px) {
     .sign-in-area {margin-top: -40px;}   
    }

/* Extra Small Devices, Phones */ 
    @media only screen and (min-width : 480px) {
      .sign-in-area {margin-top: -10px;}
    }

    /* Small Devices, Tablets */
    @media only screen and (min-width : 768px) {
      .sign-in-area {margin-top: -40px;}
    }

    /* Medium Devices, Desktops */
    @media only screen and (min-width : 992px) {
      .sign-in-area {margin-top: -200px;}
    }

    /* Large Devices, Wide Screens */
    @media only screen and (min-width : 1200px) {

    }


.field_with_errors > input[type="text"], .field_with_errors > input[type="email"], , .field_with_errors > input[type="password"] {
  border: 1px solid #f00 !important;
}

.popover-title {
  background-color: #fff;
}

.sweet-alert .icon.warning {
  display: none;
}

.sweet-alert h2 {
  font-size: 14px;
  margin: 0;
  line-height: 1.2em;
}

.help-block {
  margin: -15px 0 15px 0;
  padding-top: 0;
  color: #666;
  font-size: 13px;
}

.info-box .info-box-stats p {
    color: #374051;
    font-size: 28px;
    font-weight: 400;
    margin-bottom: 14px;
}

.info-box .info-box-icon {
    float: right;
}

.m-small {
  margin: 8px 0;
}

.blue-text {
  color: #2784A3;
}

.invite-form {
background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    color: #676a6c;
    margin: 0 auto 20px;
}

.form-control, .single-line {
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #D1D1D1;
    border-radius: 1px;
    color: inherit;
    display: block;
    font-size: 14px;
    padding: 8px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;
}

.p-l-sm {
  padding-left: 11px;
}

.feed-element {
  margin-top: 13px;
  line-height: 1em;
  min-height: 46px;
}

.feed-activity-list .feed-element {
    padding-bottom: 19px;
    border-bottom: 1px dotted #e7eaec;
}

.feed-activity-list > .feed-element:last-child {
    border-bottom:0;
    padding-bottom: 0;
  }

.ibox.float-e-margins {
    background: #fff none repeat scroll 0 0;
    border-radius: 1px;
    box-shadow: 0 2px rgba(0, 0, 0, 0.05), 0 0 1px rgba(0, 0, 0, 0.2);
}

.ibox-title {
  padding-top: 12px;
  border-width: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.ibox-title h5 {
  margin-top: 4px;
  font-size: 15px;
  color: #2784a3;
}

.ibox-heading {
  border-top: 1px solid #E7EAEC !important;
  background-color: #f9f9f9;
}

.ibox-content {
  border-width: 0;
}

.ibox-content .conversation-member:last-child {
  border-bottom: none;
}

.social-feed-box {
    background: #fff none repeat scroll 0 0;
    border: none;
    border-radius: 4px;
    box-shadow: 0 2px rgba(0, 0, 0, 0.05), 0 0 1px rgba(0, 0, 0, 0.2);
    overflow: visible;
    padding: 22px 20px 22px 22px;
    position: relative;
}

.text-muted {
  color: #ABABAB;
}

.default-admin-icon {
  float:left;
  margin-right: 4px;
  width:25px;
  height:25px;
  border-radius:4px;
  font-size:9px;
  color:#fff;
  line-height:25px;
  text-align:center;
  background: #95AB63;
}

.default-friendship-icon {
  width:50px;
  height:50px;
  border-radius:4px;
  font-size:21px;
  color:#fff;
  line-height:50px;
  text-align:center;
  background: #95AB63;
  margin: 2px;
}

.default-profile-icon {
  width:72px;
  height:72px;
  border-radius:6px;
  font-size:28px;
  color:#fff;
  line-height:72px;
  text-align:center;
  background: #95AB63;
}

.default-navigation-icon  {
  display: block;
  float: left;
  width: 26px;
  height: 26px;
  line-height: 26px;
  border-radius:3px;
  font-size:12px;
  color:#fff;
  text-align:center;
  background: #95AB63;
  font-weight: normal;
  margin: -3px 9px 0 0;
}

.default-group-box-icon {
  float: left;
  width: 42px;
  height: 42px;
  border-radius:4px;
  font-size: 18px;
  color: #fff;
  line-height: 42px;
  text-align: center;
  background: #95AB63;
  margin: -5px 0 5px 0;
}

.group-box-image {
  width: 43px;
  height: 43px;
}

.site-support-icon {
  float: left;
  width: 22px;
  height: 22px;
  border-radius:2px;
  font-size: 13px;
  color: #fff;
  line-height: 22px;
  text-align: center;
  background: #2885A4;
  margin-right: 9px;
}

.font-awesome-profile-icon {
  font-size: 1.2em;
}

.font-awesome-friendship-icon {
  font-size: 1.2em;
}

.blue-circle {
  background: #017491;
}

.red-circle {
  background: #0081A0;
}

.green-circle {
  background: #00956F;
}

.teal-circle {
  background: #008990;
}

.gold-circle {
  background: #008D85;
}

.yellow-circle {
  background: #00887A;
}

.rose-circle {
  background: #00927B;
}

.purple-circle {
  background: #009377;
}

.grey-circle {
  background: #008491;
}

.p-t-none {
  padding-top: 0;
}

.p-b-none {
  padding-bottom: 0;
}

.m-b-lg {
  margin-bottom: 24px;
}

.read-message {
  color: #ddd;
}

.unread-message {
  color: #379CBA;
}

.support-title {
  color: #669F43;
}

ul.support-list {
  padding-left: 16px;
  list-style-position: outside;
}

ul.support-list li {
  padding: 6px 0 6px 0;
}

ul.support-list li:last-child {
  padding-bottom: 0;
}

.conversation-member {
  padding: 9px 0;
  border-bottom: 1px solid #eee;
}

.conversation-member a {
  color: #379CBA;
}

.current-conversation a {
  font-weight: bold;
}

/* Home page show hide password */

::-ms-reveal,
::-ms-clear {
  display: none !important;
}

.hideShowPassword-wrapper {
  margin-bottom: 0px;
}

.hideShowPassword-toggle {
  background: transparent;
  border: 0;
  border-radius: 0.25em;
  color: #888;
  cursor: pointer;
  font-size: 0.75em;
  font-weight: bold;
  margin-right: 0.5em;
  padding: 0.5em;
  text-transform: uppercase;
  -moz-appearance: none;
  -webkit-appearance: none;
}

.hideShowPassword-toggle:hover,
.hideShowPassword-toggle:focus {
  background-color: #eee;
  color: #555;
  outline: transparent;
}

/* Home page strength meter */

#bar {
  margin-top: -15px;
  margin-bottom: 22px;
  width: 100%;
  min-height: 8px;
}

.cell {
  width: 44px;
  border: solid #fff 2px;
  display: block;
  float: left;
  min-height: 8px;
  background-color: #ccc;
}

#s0.on {
  background-color: red;
}

#s1.on {
  background-color: #EE8262;
}

#s2.on {
  background-color: orange;
}

#s3.on {
  background-color: #C8F526;
}

#s4.on {
  background-color: green;
}

span#strength-text {
  float:right;
  font-size: 12px;
  }

/*..... BACK TO TOP ......*/
.cd-top {  display: inline-block;  height: 44px;  width: 44px; padding: 4px 13px; color: #fff; font-size: 29px; position: fixed;  bottom: 20px;  right: 16px;  overflow: hidden;  white-space: nowrap; visibility: hidden;  opacity: 0;  -webkit-transition: opacity .3s 0s, visibility 0s .3s;  -moz-transition: opacity .3s 0s, visibility 0s .3s;  transition: opacity .3s 0s, visibility 0s .3s;  border-radius: 4px; z-index: 10000;}
.cd-top.cd-is-visible, .cd-top.cd-fade-out, .no-touch .cd-top:hover {  -webkit-transition: opacity .3s 0s, visibility 0s 0s;  -moz-transition: opacity .3s 0s, visibility 0s 0s;  transition: opacity .3s 0s, visibility 0s 0s; color: #fff;}
.cd-top.cd-is-visible {  /* the button becomes visible */  visibility: visible;  opacity: 0.4;}
.no-touch .cd-top:hover {  background-color: #e86256;  opacity: 1;}
.cd-top:hover {  opacity: .8;}
.cd-top{ background-color: #3CA2C0; }

/*....... Chat Bubbles ...........*/
.my-bubble
{
position: relative;
padding: 10px;
width: 85%;
background: #E7F1F6;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
margin: 5px 20px 5px 0;
}

.my-bubble:after
{
content: '';
position: absolute;
border-style: solid;
border-width: 10px 0 10px 15px;
border-color: transparent #E7F1F6;
display: block;
width: 0;
z-index: 1;
right: -15px;
top: 6px;
}

.their-bubble
{
position: relative;
padding: 10px;
width: 85%;
background: #efefef;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
margin: 5px 0 5px 20px;
}

.their-bubble:after
{
content: '';
position: absolute;
border-style: solid;
border-width: 10px 15px 10px 0;
border-color: transparent #efefef;
display: block;
width: 0;
z-index: 1;
left: -15px;
top: 6px;
}

.four-o-four-text {
  margin: 90px 0;
  text-align: center;
  font-size: 110px;
}

.four-o-four-byline {
  text-align: center;
  font-size: 18px;
  line-height: 25px;
  margin: 5px 0;
}


