<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<style type="text/css">

	</style>
</head>
<body  style="margin: 0; padding: 0; font-family: Arial, sans-serif; background-color: #F2F2F2;">
	<table border="0" cellpadding="0" cellspacing="0" width="100%">
		<tr>
			<td>
				<table class="content" align="center" border="0" cellpadding="0" cellspacing="0" style="max-width: 600px; margin-top: 5px; border-collapse: collapse; background-color: #fff; border-radius: 1px; box-shadow: 0px 2px rgba(0, 0, 0, 0.05), 0px 0px 1px rgba(0, 0, 0, 0.2);">
					<tr>
						<td width="50%" style="padding: 20px 20px 20px 20px">
							<span style="color: #AAA; font-size: 25px;">Co</span><span style="color: #3CA2C0; font-size: 25px; font-weight: bold;">Prayers</span>
							<span style="float: right; font-size: 12px; color: #555; margin-top: 6px;"><%= Time.zone.now.strftime("%m/%d/%Y") %></span>
						</td>
					</tr>
					<tr>
    				<tr>
							<td style="background-color: #2886A5; padding: 8px 0 8px 20px">
								<span style="color: #fff; font-size: 16px; font-weight: bold;">Please Confirm Your Email Address</span>
							</td>
						</tr>
						<tr>
							<td style="background-color: #ffffff; padding: 25px; color: #7B7F7F;">
							<p>Welcome <%= @email %>!</p>

							<p>You can confirm your account email through the link below:</p>

							<p><%= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token) %></p>
							</td>
						</tr>
					</tr>
				</table>
			</td>
		</tr>
	</table>
</body>
</html>
