<div id="post-<%= post.id %>" class="social-feed-box">
	<% if post.user == current_user %>
		You
	<% else %>
		<%= post.user.first_name + " " + post.user.last_name %><
	<% end %>
About <%= time_ago_in_words(post.created_at) %> ago.<br />
<%= post.post_type %><br />
<%= post.content %><br />
<% if current_user && current_user == post.user %>
	<%= link_to "Edit", edit_post_path(post) %> | <%= link_to "Delete", post_path(post), method: :delete %>
<% end %>
</div>



<% @activities.each do |activity| %>
						<% unless activity.trackable_type == "Friendship" && activity.owner == current_user %>
							<% if activity.trackable %>
								<% case activity.trackable_type when "Post" %>
									<div id="activity-<%= activity.id %>" class="social-feed-box">
										<% if activity.owner == current_user %>
											<%# Owner Is Current User %>
	                		<div class="pull-right social-action dropdown">
	                  		<button class="dropdown-toggle btn-white" data-toggle="dropdown" aria-expanded="false">
	                    		<i class="fa fa-angle-down"></i>
	                  		</button>
	                  		<ul class="dropdown-menu m-t-xs">
	                    		<li>
	                      		<%= link_to "Edit Post", edit_post_path(activity.trackable) %>
	                    		</li>
	                    		<li>
	                      		<%= link_to "Delete Post", post_path(activity.trackable), method: :delete, data: { confirm: "Are you sure you want to delete this post?" } %>
	                    		</li>
	                  		</ul>
	                		</div>
	                	<% else %>
	                		<%# Owner Is NOT Current User %>
                      <% if current_user.voted_for? activity %>
                      <div class="pull-right social-action">
                        <span class="btn btn-prayed-for btn-circle btn-xs no-cursor" data-toggle="tooltip" data-placement="left" title="You've already prayed for this">
                          <i class="fa fa-heart fa-fw"></i>
                        </span>
                      </div>
                      <% else %>
                        <div class="pull-right social-action btn-prayed-for-<%= activity.id %>">
                            <%= link_to upvote_activity_path(activity), :remote => true, method: :put, class: 'js-not-prayed-btn btn btn-pray-for btn-circle btn-xs' do %>
                              <i class="fa fa-heart fa-fw"></i>
                            <% end %>
                        </div>
                      <% end %>
	                	<% end %>
                <div class="social-avatar">
                	<div class="pull-left">
										<% if activity.owner.avatar.present? %>
											<%= image_tag(activity.owner.avatar_url(:timeline), class: "img-circle") %>
										<% else %>
											<%= image_tag(('coprayers/timeline-generic-user.jpg'), class: "img-circle") %>
										<% end %>
									</div>
									<div class="media-body">
										<% if activity.owner.first_name.present? %>
											<%= link_to user_path(activity.owner.username) do %>
												<%= activity.owner.first_name %> <%= activity.owner.last_name %>
											<% end %>
										<% else %>
											<%= link_to activity.owner.username, user_path(activity.owner.username) %>
										<% end %>
                    <small class="text-muted">
                    <% if activity.trackable.post_type == 'prayer' %>
											<span class="prayer-label">Prayer Request</span>
										<% else %>
											<span class="praise-label">Praise Report</span>
										<% end %>
                    <span class="dash">/</span> <%= time_ago_in_words(activity.created_at) %> ago <span class="dash">/</span> Prayed for <span class="prayer-count-for-<%= activity.id %>"><%= pluralize(activity.get_upvotes.size, 'time') %></span></small>
                      </div>
								</div>	
								<div class="social-body">
									<p><%= simple_format(activity.trackable.content) %></p>
								</div>
								</div>
								<% when "Friendship" %>

								<div id="activity-<%= activity.id %>" class="social-feed-box">
                  <div class="social-avatar">
                      <div class="pull-left">
                        <% if activity.owner.avatar.present? %>
											    <%= image_tag(activity.owner.avatar_url(:timeline), class: "img-circle") %>
											  <% else %>
											    <%= image_tag(('coprayers/timeline-generic-user.jpg'), class: "img-circle") %>
											  <% end %>
                      </div>
                      <div class="friend-body">
                        <% if activity.owner.first_name.present? %>
													<%= link_to user_path(activity.owner.username) do %>
														<%= activity.owner.first_name %> <%= activity.owner.last_name %>
													<% end %>
												<% else %>
													<%= link_to activity.owner.username, user_path(activity.owner.username) %>
												<% end %>
												<small>is now friends with</small>
												<% if activity.recipient.first_name.present? %>
													<%= link_to user_path(activity.recipient.username) do %>
														<%= activity.recipient.first_name %> <%= activity.recipient.last_name %>
													<% end %>
												<% else %>
													<%= link_to activity.recipient.username, user_path(activity.recipient.username) %>
												<% end %>
												<% if activity.recipient.avatar.present? %>
													<%= image_tag(activity.recipient.avatar_url(:timeline), class: "img-circle") %>
												<% else %>
													<%= image_tag(('coprayers/timeline-generic-user.jpg'), class: "img-circle") %>
												<% end %>
                        <div class="clearfix"></div>
                      </div>
                    </div>
                </div>
								<% end %>
							<% end %>
						<% end %>
			
		<% end %>
