<div class="row wrapper page-heading m-b-lg">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2>Your Timeline</h2>
      </div>
    </div>
  </div>
</div>
<div class="container">

  <div class="row">
   <div class="col-md-3">
   <%= render 'partials/box_user' %> 
  <button id="js-add-post-button" class="btn btn-block btn-primary btn-lg"><i class="fa fa-plus fa-fw"></i>Add Post</button>
  <%= render 'partials/box_site_supporter' %>
  <div class="visible-xs m-t-lg"></div>
  <%= render 'partials/box_groups' %>

  <%= render 'partials/box_friends' %>

  <%= render 'partials/ads' %>

</div>
<div class="col-md-9">
  <%= render 'posts/form' %>
  <% if @user.sign_in_count == 1 %>
    <%= render 'partials/first_time_message' %>
  <% end %>
  

  <%= render @activities %>

  <%= paginate @activities %>
</div>
</div>
<script type="text/javascript">
$(document).ready(function() { 
  $("#js-add-post-form").hide();
});

  $("#js-add-post-button").click(function(){
    $("#js-add-post-form").slideDown("slow");
});

  $("#js-cancel-post-button").click(function(){
    $("#js-add-post-form").slideUp("slow");
});
</script>
