<!DOCTYPE html>
<html lang="en-us">
<head>

	<meta charset="utf-8" >
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-title" content="CoPrayers">
	<meta name="apple-mobile-web-app-status-bar-style" content="default">
	<link rel="apple-touch-icon" sizes="57x57" href="https://coprayers.com/apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="https://coprayers.com/apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="https://coprayers.com/apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="https://coprayers.com/apple-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="https://coprayers.com/apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="https://coprayers.com/apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="https://coprayers.com/apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="https://coprayers.com/apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="https://coprayers.com/apple-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="192x192"  href="https://coprayers.com/android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="https://coprayers.com/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="https://coprayers.com/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="https://coprayers.com/favicon-16x16.png">
	<link rel="manifest" href="https://coprayers.com/manifest.json">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="https://coprayers.com/ms-icon-144x144.png">
	<meta name="theme-color" content="#ffffff">

	<title>CoPrayers | Connecting Christians for Prayer & Praise</title>

	<meta name="author" content="Richard Coy">
	<meta name="description" content="A social application connecting Christians for prayer and praise.">

	

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false %>

	<link href='https://fonts.googleapis.com/css?family=Ubuntu:400,300' rel='stylesheet' type='text/css'>
  
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
  <%= csrf_meta_tags %>
  <%# Google Analytics Code %>
  <script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-66949483-1', 'auto');
	  ga('set', 'forceSSL', true);
	  ga('send', 'pageview');

	</script>
</head>
<body class="top-navigation">
	<div id="wrapper">
		<%= render 'partials/site_nav' %>
		<%= render 'partials/alerts' %>
		<div id="content">
			<%= yield %>
		</div>
		<%= render 'partials/footer' %>
		<a href="#0" class="cd-top"><i class="fa fa-caret-up"></i></a>
	</div>
</body>
</html>
